.grayscale {
  -webkit-filter: grayscale(1);
}

.green {
  background: #80BFA0;
}

.yellow {
  background: #FFEFC2;
}

.blue{
  background: #BAC3E3;
}

.light-blue{
  background: #C6D4E2;
}

.dark-sea-green {
  background: #80BFA0;
}
