<div [ngStyle]="{'width': cardWidth}" class="hover:scale-105 transition-transform relative">
  <img *ngIf="card.version !== 'Normal'" [ngStyle]="{width: '75%'}" [src]="aa.get(this.card.color)" alt="AA-Banner" class="aa">

  <img [lazyLoad]="card.cardImage" [ngClass]="{'grayscale': count === 0 && collectionMode}"
       [ngStyle]="{'border': cardBorder, 'border-radius': cardRadius}"
       alt="Digimon Card" class="m-auto" defaultImage="assets/images/Digimon-Card-Back.webp" mat-card-image>

  <div class="card-buttons">
    <button *ngIf="collectionMode" (click)="increaseCard(card.id)"
            pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-rounded 2xl:scale-125 lg:scale-100 scale-50 p-button-primary plus"></button>

    <p *ngIf="collectionMode" class="count text-center 2xl:scale-100 lg:scale-100 scale-50">{{count}}</p>

    <button *ngIf="collectionMode" (click)="decreaseCard(card.id)"
            pButton pRipple type="button" icon="pi pi-minus-circle" class="p-button-rounded 2xl:scale-125 lg:scale-100 scale-50 p-button-primary minus"></button>
  </div>

</div>
