<div class="mx-auto mb-2 max-w-[250px]">
  <h1 class="mb-1 text-center text-xs font-bold text-white">{{ title }}:</h1>
  <div [ngClass]="grid" class="my-2 grid w-full justify-center">
    <button
      (click)="clickEvent.emit(button.value)"
      *ngFor="let button of buttonArray"
      [ngClass]="{
        'primary-background': filterFormControl.value.includes(button.value)
      }"
      class="min-w-auto h-8 rounded-l-sm border border-slate-100 p-1 py-2 text-xs font-semibold text-white"
    >
      {{ button.name }}
    </button>
  </div>
</div>
