<div class="mb-1 inline-flex rounded-md shadow-sm" role="group">
  <button
    type="button"
    (click)="changeOrder()"
    class="rounded-l-lg border border-gray-200 py-0.5 px-2 hover:backdrop-brightness-150 focus:z-10 focus:ring-2 focus:ring-blue-700"
  >
    <i
      [ngClass]="{ 'pi-sort-amount-down': order, 'pi-sort-amount-up': !order }"
      class="pi text-white"
    ></i>
  </button>
  <p-dropdown
    class="rounded-r-md border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700"
    [options]="sortOptions"
    [formControl]="sortForm"
    [style]="{ height: '2rem', lineHeight: '10px' }"
    optionLabel="name"
  >
  </p-dropdown>
</div>
