<div class="flex flex-wrap justify-center overflow-hidden">
  <h1
    *ngIf="cardsToShow.length === 0"
    class="primary-color text-bold my-10 text-5xl"
  >
    No cards found!
  </h1>

  <div class="flex w-full flex-row flex-wrap">
    <digimon-full-card
      *ngFor="let card of cardsToShow"
      (viewCard)="viewCard($event)"
      [card]="card"
      [collectionMode]="collectionMode"
      [count]="getCount(card.id)"
      [deckView]="true"
      [deckBuilder]="true"
      class="flex-[1 1 25%] max-w-[25%] scale-95 transition"
    >
    </digimon-full-card>
  </div>

  <button
    *ngIf="moreCardsThere()"
    (click)="showMore()"
    class="min-w-auto primary-background mt-2 mt-2 h-8 w-full rounded p-2 text-xs font-semibold text-white"
  >
    Show more...
  </button>
</div>

<p-dialog
  (close)="viewCardDialog = false"
  [(visible)]="viewCardDialog"
  [baseZIndex]="100000"
  [showHeader]="false"
  class="overflow-x-hidden"
>
  <digimon-view-card-dialog
    (onClose)="viewCardDialog = false"
    [card]="card"
  ></digimon-view-card-dialog>
</p-dialog>
