<button pButton class="import font-bold" (click)="openImportDialog()" label="Import Deck"></button>
<button (click)="createNewDeck()" class="import font-bold" label="Create new Deck" pButton></button>

<p-contextMenu #table [model]="deckRowContext"></p-contextMenu>
<p-table id="table" responsiveLayout="scroll"  styleClass="p-datatable-striped" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} decks"
         [value]="decks" [scrollable]="true" [scrollHeight]="'calc(100vh - 100px)'" [contextMenu]="table"
         [paginator]="true" [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25, 50, 75]"
         [(contextMenuSelection)]="selectedDeck">
  <ng-template pTemplate="header">
    <tr>
      <th class="color">
        <div class="mx-auto max-w-5">
          Color
          <p-columnFilter field="color.name" matchMode="equals" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="colors" (onChange)="filter($event.value)" placeholder="Any">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option">{{option}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th class="title">
        <div>
          Title
          <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div>
          Description
        </div>
      </th>
      <th>
        <div class="mx-auto">
          Tags
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-deck>
    <tr [pContextMenuRow]="deck" (dblclick)="showContextMenu(table, $event, deck)" class="max-h-[50px]">
      <td class="inline-flex color">
        <img class="max-h-[50px] mx-auto" [src]="deck.color?.img ?? 'assets/decks/white.svg'" alt="Digimon Deck Image">
      </td>
      <td class="title">{{deck.title}}</td>
      <td class="truncate">{{deck.description}}</td>
      <td>
        <div class="mx-auto">
          <p-chip *ngFor="let tag of deck.tags" label="{{tag.name}}"></p-chip>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
