.import {
  width: 50%;
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.deck {
  padding: 2px;

  img {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.deck:hover .digimon-card {
  display: block;
  transform: scale(0.5);
}

.digimon-card {
  bottom: 0;
  left: 0;
}

#table {
  .color {
    max-width: 120px;
  }
  .title {
    max-width: 600px;
  }
  th, td {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  #table {
    .color {
      max-width: 120px;
    }
    th, td {
      max-width: 100%;
    }
  }
}
