<h1 class="primary-color mt-5">{{title}}</h1>
<div class="flex flex-row mx-5">
  <p-inputNumber (onInput)="changeMin($event)" inputStyleClass="text-white max-w-[35px]" [(ngModel)]="slider[0]" mode="decimal" [min]="minMax[0]" [max]="minMax[1]"></p-inputNumber>
  <p-slider [(ngModel)]="slider" (onSlideEnd)="OnSliderChange.emit($event)"
            [range]="true" [min]="minMax[0]" [max]="minMax[1]" class="flex-grow mx-5 self-center"></p-slider>
  <p-inputNumber (onInput)="changeMax($event)" inputStyleClass="text-white max-w-[35px]" [(ngModel)]="slider[1]" mode="decimal" [min]="minMax[0]" [max]="minMax[1]"></p-inputNumber>
</div>
