<div class="relative inline-flex w-full transition-transform hover:scale-105">
  <div (click)="addCardToDeck()" (contextmenu)="showCardDetails()">
    <div class="absolute top-1 z-10 grid w-full grid-cols-5 gap-0">
      <div></div>
      <img
        *ngIf="card.version !== 'Normal'"
        [src]="
          aa.get(this.card.color) ??
          'assets/images/banner/ico_card_detail_multi.png'
        "
        alt="AA-Banner"
        class="col-span-3 w-full"
      />
    </div>

    <img
      [lazyLoad]="card.cardImage"
      [ngClass]="{ grayscale: count < collectionMinimum && collectionMode }"
      [ngStyle]="{ border: cardBorder, 'border-radius': cardRadius }"
      alt="{{ card.cardNumber + ' ' + card.name }}"
      class="m-auto"
      defaultImage="assets/images/digimon-card-back.webp"
    />
  </div>

  <span
    *ngIf="deckBuilder && countInDeck !== 0"
    class="text-shadow-white absolute right-1 z-[100] px-1 text-3xl font-black text-orange-500"
    [ngClass]="{ 'bottom-1': !collectionMode, ' bottom-10': collectionMode }"
  >
    {{ countInDeck }}<span class="pr-1 text-sky-700">/</span
    >{{
      card.cardNumber === "BT6-085" || card.cardNumber === "EX2-046" ? 50 : 4
    }}
  </span>

  <div
    *ngIf="collectionMode"
    class="counter mx-5 flex h-8 w-full flex-row rounded-lg bg-transparent"
  >
    <button
      (click)="decreaseCardCount(card.id)"
      class="primary-background h-full w-1/3 cursor-pointer rounded-l text-white outline-none"
    >
      <span class="m-auto text-2xl font-thin">−</span>
    </button>
    <input
      type="number"
      min="0"
      class="primary-background text-md flex w-1/3 cursor-default appearance-none items-center text-center font-semibold text-white outline-none focus:outline-none md:text-base"
      [(ngModel)]="count"
      (change)="changeCardCount($event, card.id)"
    />
    <button
      (click)="increaseCardCount(card.id)"
      class="primary-background h-full w-1/3 cursor-pointer rounded-r text-white outline-none"
    >
      <span class="m-auto text-2xl font-thin">+</span>
    </button>
  </div>

  <!--p-inputNumber
		(onInput)="changeCardCount($event, card.id)"
		*ngIf="collectionMode"
		[(ngModel)]="count"
		[inputStyle]="{ width: '100%', 'text-align': 'center' }"
		[min]="0"
		[readonly]="true"
		[showButtons]="true"
		[style]="{ width: '100%' }"
		buttonLayout="vertical"
		class="card-count"
		decrementButtonClass="p-button-secondary"
		decrementButtonIcon="pi pi-minus"
		incrementButtonClass="p-button-secondary"
		incrementButtonIcon="pi pi-plus"
		placeholder="0"
	></p-inputNumber-->
</div>
