<p-contextMenu #table [model]="deckRowContext"></p-contextMenu>

<p-table responsiveLayout="scroll" dataKey="title" styleClass="p-datatable-striped" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} decks"
         [value]="decks" [scrollable]="true" [scrollHeight]="'calc(100vh - 100px)'" [contextMenu]="table"  [globalFilterFields]="['color.name', 'title','','tags', 'user']"
         [paginator]="true" [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25, 50, 75]"
         [(contextMenuSelection)]="selectedDeck">
  <ng-template pTemplate="header">
    <tr>
      <th class="expand"></th>
      <th class="color">
        <div class="mx-auto">
          Color
          <p-columnFilter field="color.name" matchMode="equals" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="colors" (onChange)="filter($event.value)" placeholder="Any">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option">{{option}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th class="title">
        <div class="mx-auto">
          Title
          <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="mx-auto">
          Description
        </div>
      </th>
      <th>
        <div class="mx-auto">
          Tags
        </div>
      </th>
      <th>
        <div class="mx-auto">
          User
          <p-columnFilter type="text" field="user" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="date">
        <div class="mx-auto">
          Date
          <p-sortIcon field="date"></p-sortIcon>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-deck let-expanded="expanded">
    <tr [pContextMenuRow]="deck" class="max-h-[50px]">
      <td class="expand">
        <button type="button" pButton pRipple [pRowToggler]="deck" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td class="inline-flex color">
        <img class="max-h-[50px] mx-auto" [src]="deck.color?.img ?? 'assets/decks/white.svg'" alt="Digimon Deck Image">
      </td>
      <td class="title">{{deck.title}}</td>
      <td class="truncate">{{deck.description}}</td>
      <td>
        <div class="mx-auto">
          <p-chip *ngFor="let tag of deck.tags" label="{{tag.name}}"></p-chip>
        </div>
      </td>
      <td>
        <div class="mx-auto">
          {{deck.user}}
        </div>
      </td>
      <td>
        <div class="mx-auto">
          {{dateFormat(deck.date)}}
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-deck>
    <tr>
      <td colspan="7">
        <div class="card-list flex flex-wrap surface-card pt-3">
          <div *ngFor="let card of deck.cards">
            <digimon-deck-card [fullCards]="false" [edit]="false"
              [card]="card" [cards]="allCards"></digimon-deck-card>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
