<div class="max-h-screen overflow-hidden">
  <digimon-navbar></digimon-navbar>

  <digimon-filter-box      *ngIf="site === SITES.Collection"></digimon-filter-box>
  <digimon-card-list       *ngIf="site === SITES.Collection" [showCount]="75"></digimon-card-list>

  <digimon-decks           *ngIf="site === SITES.Decks"></digimon-decks>

  <digimon-deck-builder    *ngIf="site === SITES.DeckBuilder"></digimon-deck-builder>

  <digimon-community-decks *ngIf="site === SITES.CommunityDecks"></digimon-community-decks>

  <p-toast></p-toast>
</div>
