<p-toast></p-toast>

<div [ngClass]="{'overflow-hidden': site === SITES.Decks || site === SITES.CommunityDecks}" class="max-h-screen overflow-x-hidden">
  <digimon-navbar></digimon-navbar>

  <digimon-collection *ngIf="site === SITES.Collection"></digimon-collection>

  <digimon-decks *ngIf="site === SITES.Decks"></digimon-decks>

  <digimon-deck-builder *ngIf="site === SITES.DeckBuilder"></digimon-deck-builder>

  <digimon-community-decks *ngIf="site === SITES.CommunityDecks"></digimon-community-decks>
</div>

<digimon-import-deck-dialog (onClose)="closeImportDeckDialog()" [show]="importDeckDialog"></digimon-import-deck-dialog>
<digimon-export-deck-dialog (onClose)="closeExportDeckDialog()" [deck]="selectedDeck" [show]="exportDeckDialog"></digimon-export-deck-dialog>
<digimon-change-accessorie-dialog (onClose)="closeAccessoryDeckDialog()" [deck]="selectedDeck" [show]="accessoryDeckDialog"></digimon-change-accessorie-dialog>
<digimon-view-card-dialog (onClose)="closeViewCardDialog()" [card]="selectedCard" [show]="viewCardDialog"></digimon-view-card-dialog>

<p-confirmDialog header="Delete Confirmation" icon="pi pi-exclamation-triangle" key="Delete" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>



