<!--div [formGroup]="languageForm">
  <p-checkbox class="ml-2" formControlName="english" label="English" name="language"></p-checkbox>
  <p-checkbox class="ml-2" formControlName="japanese" label="Japanese" name="language"></p-checkbox>
</div>

<div [formGroup]="versionForm">
  <p-checkbox class="ml-2" formControlName="normal" label="Normal" name="version" value="Normal"></p-checkbox>
  <p-checkbox class="ml-2" formControlName="aa" label="AA" name="version" value="AA"></p-checkbox>
  <p-checkbox class="ml-2" formControlName="stamped" label="Stamped" name="version" value="Stamped"></p-checkbox>
</div>

<div class="flex flex-row">
  <div class="field-radiobutton ml-2">
    <p-radioButton inputId="type1" name="type1" value="Normal"></p-radioButton>
    <label for="type1">Normal</label>
  </div>
  <div class="field-radiobutton ml-2">
    <p-radioButton inputId="type2" name="type2" value="Playset"></p-radioButton>
    <label for="type2">Playset</label>
  </div>
  <div class="field-radiobutton ml-2">
    <p-radioButton inputId="type3" name="type3" value="Playset+"></p-radioButton>
    <label for="type3">Playset+</label>
  </div>
</div-->

<p-chart [data]="collectionData" [options]="chartOptions" type="bar"></p-chart>
