<div class="flex flex-col px-3 surface-ground h-full w-full">
  <button
    class="w-[150px] self-center rounded-tl-lg rounded br-lg my-5"
    pButton type="button" label="Reset" (click)="reset()"></button>

  <digimon-sort-buttons class="self-center inline-flex lg:hidden mx-auto my-5"></digimon-sort-buttons>

  <h1 class="primary-color mt-5" [ngClass]="{'lg:hidden' : !showColors}">Colors</h1>
  <p-selectButton class="Colors" [ngClass]="{'lg:hidden' : !showColors}" [options]="colors" [formControl]="colorFilter" [multiple]="true">
    <ng-template let-color>
      <i class="pi" [ngClass]="
          {'pi-check': colorChecked(color), 'pi-times': !colorChecked(color)}"></i>
    </ng-template>
  </p-selectButton>

  <h1 class="primary-color mt-5" [ngClass]="{'lg:hidden' : !showColors}">Card Type</h1>
  <p-selectButton class="mb-5" [ngClass]="{'lg:hidden' : !showColors}"
                  [options]="cardTypes" [formControl]="cardTypeFilter" [multiple]="true">
  </p-selectButton>

  <p-multiSelect styleClass="w-full" [filter]="false" [showToggleAll]="false" [options]="groupedSets" [showHeader]="false" [group]="true"
                 [formControl]="setFilter" defaultLabel="Set" scrollHeight="250px" display="chip">
    <ng-template let-group pTemplate="group">
      <div class="flex align-items-center">
        <span>{{group.label}}</span>
      </div>
    </ng-template>
  </p-multiSelect>

  <digimon-range-slider
    title="Cards in Collection" [slider]="cardCountSlider"
    [minMax]="[0, 5]" (OnSliderChange)="updateCardCountSlider($event)"></digimon-range-slider>

  <digimon-range-slider
    title="Level" [slider]="levelSlider"
    [minMax]="[2, 7]" (OnSliderChange)="updateLevelSlider($event)"></digimon-range-slider>

  <digimon-range-slider
    title="Play Cost" [slider]="playCostSlider"
    [minMax]="[0, 20]" (OnSliderChange)="updatePlayCostSlider($event)"></digimon-range-slider>

  <digimon-range-slider
    title="Digivolution Cost" [slider]="digivolutionSlider"
    [minMax]="[0, 7]" (OnSliderChange)="updateDigivolutionSlider($event)"></digimon-range-slider>

  <digimon-range-slider
    title="DP" [slider]="dpSlider" suffix="000"
    [minMax]="[0, 16]" (OnSliderChange)="updateDPSlider($event)"></digimon-range-slider>

  <h1 class="primary-color mt-5">Rarity</h1>
  <p-selectButton
    [options]="rarities" [formControl]="rarityFilter" [multiple]="true">
  </p-selectButton>

  <h1 class="primary-color mt-5">Version</h1>
  <p-selectButton
    [options]="versions" [formControl]="versionFilter" [multiple]="true">
  </p-selectButton>

  <p-multiSelect styleClass="w-full mt-2" [filter]="true" [showToggleAll]="false" [options]="keywords" [showHeader]="true"
                 [formControl]="keywordFilter" defaultLabel="Select a Keyword" scrollHeight="250px" display="chip">
  </p-multiSelect>

  <p-multiSelect styleClass="w-full mt-2" [filter]="false" [showToggleAll]="false" [options]="forms" [showHeader]="false"
                 [formControl]="formFilter" defaultLabel="Select a Form" scrollHeight="250px" display="chip">
  </p-multiSelect>

  <p-multiSelect styleClass="w-full mt-2" [filter]="false" [showToggleAll]="false" [options]="attributes" [showHeader]="false"
                 [formControl]="attributeFilter" defaultLabel="Select an Attribute" scrollHeight="250px" display="chip">
  </p-multiSelect>

  <p-multiSelect styleClass="w-full mt-2" [filter]="true" [showToggleAll]="false" [options]="types" [showHeader]="true"
                 [formControl]="typeFilter" defaultLabel="Select a Type" scrollHeight="250px" display="chip">
  </p-multiSelect>

  <p-multiSelect styleClass="w-full mt-2" [filter]="true" [showToggleAll]="false" [options]="specialRequirements" [showHeader]="true"
                 [formControl]="specialRequirementsFilter" defaultLabel="Select a Special Requirement" scrollHeight="250px" display="chip">
  </p-multiSelect>

  <p-multiSelect styleClass="w-full mt-2 mb-10" [filter]="true" [showToggleAll]="false" [options]="illustrators" [showHeader]="true"
                 [formControl]="illustratorFilter" defaultLabel="Select an Illustrator" scrollHeight="250px" display="chip">
  </p-multiSelect>
</div>
