<div class="p-5" [formGroup]="filterFormGroup">
  <mat-chip-list [formGroup]="sortFormGroup" selectable>
    <mat-chip #c="matChip" (click)="toggleSelection(c, sort)"
              *ngFor="let sort of sortList" [selected]="'ID' === sort.name">
      <mat-icon *ngIf="c.selected && sortFormGroup.get('ascOrder')?.value">arrow_downward</mat-icon>
      <mat-icon *ngIf="c.selected && !sortFormGroup.get('ascOrder')?.value">arrow_upward</mat-icon>
      {{sort.name}}
    </mat-chip>
  </mat-chip-list>

  <mat-form-field appearance="fill" class="mt-5 w-100">
    <mat-label>Card Count</mat-label>
    <input matInput type="number" formControlName="cardCountFilter">
  </mat-form-field>
  <!-- Set Dropdown -->
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Set</mat-label>
    <mat-select multiple formControlName="setFilter">
      <mat-option *ngFor="let value of setList" [value]="value">{{value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Card Type Dropdown -->
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Card-Type</mat-label>
    <mat-select multiple formControlName="cardTypeFilter">
      <mat-option *ngFor="let value of cardTypeList" [value]="value">{{value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Color Dropdown -->
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Color</mat-label>
    <mat-select multiple formControlName="colorFilter">
      <mat-option *ngFor="let value of colorList" [value]="value">{{value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Type Dropdown -->
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select multiple formControlName="typeFilter">
      <mat-option *ngFor="let value of typeList" [value]="value">{{value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Lv Dropdown -->
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Lv</mat-label>
    <mat-select multiple formControlName="lvFilter">
      <mat-option *ngFor="let value of lvList" [value]="value">{{value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Rarity Dropdown -->
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Rarity</mat-label>
    <mat-select multiple formControlName="rarityFilter">
      <mat-option *ngFor="let value of rarityList" [value]="value">{{value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Version Dropdown -->
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Version</mat-label>
    <mat-select multiple formControlName="versionFilter">
      <mat-option *ngFor="let value of versionList" [value]="value">{{value}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="applyFilter()">Apply Filter</button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>


