<div class="no-gap grid h-full w-full grid-cols-6">
  <div
    class="h-full w-full text-center"
    [ngStyle]="{
      background: linearGradientEgg()
    }"
  >
    <span class="text-black-outline-xs">{{ levelSpread[0] }}</span>
  </div>
  <div
    class="h-full w-full text-center"
    [ngStyle]="{
      background: linearGradient(levelSpread[1])
    }"
  >
    <span class="text-black-outline-xs">{{ levelSpread[1] }}</span>
  </div>
  <div
    class="h-full w-full text-center"
    [ngStyle]="{
      background: linearGradient(levelSpread[2])
    }"
  >
    <span class="text-black-outline-xs">{{ levelSpread[2] }}</span>
  </div>
  <div
    class="h-full w-full text-center"
    [ngStyle]="{
      background: linearGradient(levelSpread[3])
    }"
  >
    <span class="text-black-outline-xs">{{ levelSpread[3] }}</span>
  </div>
  <div
    class="h-full w-full text-center"
    [ngStyle]="{
      background: linearGradient(levelSpread[4])
    }"
  >
    <span class="text-black-outline-xs">{{ levelSpread[4] }}</span>
  </div>
  <div
    class="h-full w-full text-center"
    [ngStyle]="{
      background: linearGradient(levelSpread[5])
    }"
  >
    <span class="text-black-outline-xs">{{ levelSpread[5] }}</span>
  </div>

  <h3 class="h-1/2 text-center text-xs">Lv.2</h3>
  <h3 class="h-1/2 text-center text-xs">Lv.3</h3>
  <h3 class="h-1/2 text-center text-xs">Lv.4</h3>
  <h3 class="h-1/2 text-center text-xs">Lv.5</h3>
  <h3 class="h-1/2 text-center text-xs">Lv.6</h3>
  <h3 class="h-1/2 text-center text-xs">Lv.7</h3>
</div>
