<mat-toolbar class="flex header p-0" color="primary">
  <img alt="Logo" class="max-h-8 md:max-h-10 ml-5" src="assets/img_logo.png">

  <div *ngIf="site === SITES.Collection" class="flex flex-grow align-middle ml-auto max-w-xl">
    <mat-icon class="m-auto align-middle">zoom_out</mat-icon>
    <mat-slider [formControl]="cardSizeFormControl" class="w-full align-middle" color="warn" max="60" min="40" step="5"></mat-slider>
    <mat-icon class="m-auto align-middle">zoom_in</mat-icon>
  </div>

  <button [matMenuTriggerFor]="menu" class="scale flex ml-auto mr-5" mat-icon-button>
    <mat-icon class="mr-2">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <mat-slide-toggle [formControl]="collectionModeFormControl" class="m-auto align-middle" color="warn">CM</mat-slide-toggle>
    <button (click)="switchSite(SITES.Collection)" mat-menu-item>
      <mat-icon>sd_card</mat-icon>
      <span>Collection</span>
    </button>
    <button (click)="switchSite(SITES.Decks)" mat-menu-item>
      <mat-icon>sim_card</mat-icon>
      <span>Decks</span>
    </button>
    <button (click)="switchSite(SITES.DeckBuilder)" mat-menu-item>
      <mat-icon>build</mat-icon>
      <span>Deck-Builder</span>
    </button>
    <button (click)="importDialog()" mat-menu-item>
      <mat-icon>cloud_upload</mat-icon>
      <span>Import/Export</span>
    </button>
    <button (click)="openPayPal()" mat-menu-item>
      <mat-icon>attach_money</mat-icon>
      <span>Donate</span>
    </button>
  </mat-menu>
</mat-toolbar>
