<div class="surface-ground flex p-0">
  <a href="https://digimoncard.app">
    <img alt="Logo" class="max-h-8 md:max-h-10 ml-5 mt-2 cursor-pointer" src="../../../assets/images/img_logo.png">
  </a>

  <digimon-slider *ngIf="site === 0" class="hidden lg:flex flex-grow"></digimon-slider>

  <div class="ml-auto mt-2 hidden lg:block">
    <p-button (onClick)="changeSite(SITES.DeckBuilder)" class="mt-2 ml-2" styleClass="font-bold">Deckbuilder</p-button>
    <p-button (onClick)="changeSite(SITES.Decks)" class="mt-2 ml-2" styleClass="font-bold">My Decks</p-button>
    <p-button (onClick)="changeSite(SITES.CommunityDecks)" class="mt-2 mx-2" styleClass="font-bold">Community Decks</p-button>
  </div>


  <digimon-menu class="ml-auto lg:ml-0 mt-2"></digimon-menu>
</div>
