.ml-auto {
  margin-left: auto !important;
}

.m-auto {
  margin: auto !important;
}

.scale {
  transform: scale(1.5);
}

#file-input {
  display: none;
}

.justify-right {
  justify-content: right;
}

.p-0 {
  padding: 0 !important;
}

mat-slide-toggle {
  width: 100%;

  ::ng-deep label {
    justify-content: center;
  }
}

.menu {
  margin-right: 10px;
}
