<ckeditor
  *ngIf="authService.userData?.uid !== 'S3rWXPtCYRN8vSrxY3qE6aeewy43'"
  [editor]="Editor"
  class="text-white"
  [disabled]="true"
  [(ngModel)]="content"
></ckeditor>

<ckeditor
  *ngIf="authService.userData?.uid === 'S3rWXPtCYRN8vSrxY3qE6aeewy43'"
  [editor]="Editor"
  class="text-white"
  [(ngModel)]="content"
  (ready)="onReady($event)"
></ckeditor>

<button
  *ngIf="authService.userData?.uid === 'S3rWXPtCYRN8vSrxY3qE6aeewy43'"
  class="p-button mt-3"
  icon="pi pi-save"
  pButton
  pRipple
  type="button"
  label="Save"
  (click)="save()"
></button>
