<quill-view
  *ngIf="authService.userData?.uid !== 'S3rWXPtCYRN8vSrxY3qE6aeewy43'"
  [content]="content"
  [preserveWhitespace]="true"
  format="object"
></quill-view>

<quill-editor
  *ngIf="authService.userData?.uid === 'S3rWXPtCYRN8vSrxY3qE6aeewy43'"
  [(ngModel)]="content"
  format="object"
>
</quill-editor>

<button
  *ngIf="authService.userData?.uid === 'S3rWXPtCYRN8vSrxY3qE6aeewy43'"
  class="p-button mt-3"
  icon="pi pi-save"
  pButton
  pRipple
  type="button"
  label="Save"
  (click)="save()"
></button>
