digimon-multi-select {
  ::ng-deep .p-multiselect {
    max-width: 10rem;
  }
}

.dialog {
  ::ng-deep .p-multiselect {
    width: 100%;
  }
}

.p-number {
  ::ng-deep .p-inputnumber {
    width: 50% !important;
  }
  ::ng-deep .p-inputnumber-button {
    padding: 0.1rem 0;
  }
}

p-dialog::ng-deep {
  .p-dialog-header {
    background-color: var(--surface-ground);
  }
  .p-dialog-content {
    background-color: var(--surface-ground);
  }
}
