<div class="surface-ground flex w-full max-h-12 p-0">
  <a href="https://digimoncard.app">
    <img
      alt="Logo"
      class="ml-5 mt-2 max-h-6 cursor-pointer md:max-h-8"
      src="../../../../assets/images/img_logo.png"
    />
  </a>

  <a class="mt-2 mx-auto hidden lg:block" href="https://www.paypal.com/donate/?hosted_button_id=WLM58Q785D4H4" target="_blank">
    <img alt="PayPal Donate Button" height="48px" src="assets/images/blue.png" width="150px">
  </a>

  <div class="ml-auto mr-2 mt-2 flex flex-row">
    <digimon-filter-button class="md:hidden"></digimon-filter-button>

    <button
      (click)="changeSite('')"
      class="min-w-auto primary-background ml-2 hidden h-8 w-24 rounded p-2 text-xs font-semibold text-white lg:block"
    >
      Home
    </button>

    <button
      (click)="changeSite('/user')"
      class="min-w-auto primary-background ml-2 hidden h-8 w-24 rounded p-2 text-xs font-semibold text-white lg:block"
    >
      Profile
    </button>

    <button
      (click)="changeSite('/community')"
      class="min-w-auto primary-background ml-2 hidden h-8 w-24 rounded p-2 text-xs font-semibold text-white lg:block"
    >
      Community
    </button>

    <digimon-menu></digimon-menu>
  </div>
</div>
