<div class="flex flex-wrap justify-center overflow-scroll overflow-x-hidden" [ngClass]="{'max-h-85vh' : !deckBuilder, 'max-h-90vh' : deckBuilder}">
  <digimon-full-card
    class="transition scale-95" [ngClass]="{'max-h-80vh' : !deckBuilder, 'max-h-90vh' : deckBuilder}"
    (click)="addToDeck(card)" *ngFor="let card of cardsToShow" [card]="card" [collectionMode]="collectionMode" [count]="getCount(card.id)" [scale]="!deckBuilder" >
  </digimon-full-card>
  <button (click)="showMore()" class="basis-full" color="primary" mat-raised-button>Show more...</button>
</div>


