.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr))
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr))
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr))
}
.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr))
}
.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr))
}
.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr))
}
.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr))
}

mat-paginator {
  min-height: 30px;
  margin-top: -10px;

  ::ng-deep .mat-paginator-container {
    align-items: initial !important;
    flex-wrap: nowrap;
  }
}

.list {
  margin-top: -10px;
}

.max-h-80vh {
  max-height: 80vh;
}
