<button
  (click)="menu.toggle($event)"
  class="min-w-auto primary-background mx-2 h-9 w-9 rounded-full text-xs font-semibold text-white"
>
  <i *ngIf="!user" class="pi pi-user"></i>
  <img
    *ngIf="user"
    alt="{{ this.user.displayName }}"
    src="{{ this.user.photoURL }}"
  />
</button>

<p-menu #menu [model]="items" [popup]="true"></p-menu>

<digimon-collection-stats-dialog
  (onClose)="this.collectionDisplay = false"
  [collection]="collection"
  [digimonCards]="digimonCards"
  [show]="collectionDisplay"
></digimon-collection-stats-dialog>

<p-dialog
  [(visible)]="creditsDisplay"
  [baseZIndex]="10000"
  header="Credits"
  styleClass="w-[95vw] h-[400px]"
>
  <div class="flex w-full flex-col">
    <span class="primary-color mt-5 w-full text-center font-bold"
      >A huge thanks goes to tari101190 who helps me with all the new card
      releases and tests the website completly so I don't have to worry to
      much!</span
    >

    <span class="primary-color mt-5 w-full text-center font-bold"
      >Another big thank you goes to
      <a target="_blank" href="https://www.instagram.com/oscstudios/">TheOSC</a>
      he send me a cool new design which I took much inspiration from and helped
      with other design questions! Go Check him out he makes great art!</span
    >

    <span class="primary-color mt-5 w-full text-center font-bold"
      >Credits for the Pre-Release Cards go to
      <a target="_blank" href="https://digimoncardgame.fandom.com/"
        >https://digimoncardgame.fandom.com/</a
      >
      and all the wonderful people who maintain it!</span
    >

    <span class="primary-color mt-5 w-full text-center font-bold"
      >Credits for the Pre-Release Cards go to
      <a target="_blank" href="https://digimoncardgame.fandom.com/"
        >https://digimoncardgame.fandom.com/</a
      >
      and all the wonderful people who maintain it!</span
    >

    <span class="primary-color mt-5 w-full text-center font-bold"
      >Please support the official releases! Akiyoshi Hongo, Bandai, and Toei
      Animation respectively own Digimon images, copyrights and
      trademarks.</span
    >
  </div>
</p-dialog>

<p-dialog
  [(visible)]="display"
  [baseZIndex]="10000"
  header="Import/Export"
  styleClass="w-[70vw] lg:w-[50vw] xl:w-[30vw] h-[370px]"
>
  <div class="flex flex-col justify-between">
    <button
      (click)="this.importDisplay = true"
      class="m-auto mb-2 min-w-[200px] max-w-[200px]"
      icon="pi pi-upload"
      label="Import Collection"
      pButton
      type="button"
    ></button>
    <button
      (click)="exportDialog = true"
      class="m-auto mb-2 min-w-[200px] max-w-[200px]"
      icon="pi pi-download"
      label="Export Collection"
      pButton
      type="button"
    ></button>
    <input
      #fileUpload
      (change)="handleFileInput($event.target)"
      [ngStyle]="{ display: 'none' }"
      accept=".json"
      type="file"
    />
    <button
      (click)="fileUpload.click()"
      class="m-auto mb-2 min-w-[200px] max-w-[200px]"
      icon="pi pi-upload"
      label="Import Save"
      pButton
      type="button"
    ></button>
    <button
      (click)="exportSave()"
      class="m-auto mb-2 min-w-[200px] max-w-[200px]"
      icon="pi pi-download"
      label="Export Save"
      pButton
      type="button"
    ></button>
    <button
      (click)="deleteSave($event)"
      class="m-auto mb-2 min-w-[200px] max-w-[200px]"
      icon="pi pi-times"
      label="Delete Save"
      pButton
      type="button"
    ></button>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="importDisplay"
  [baseZIndex]="10000"
  header="Import Collection"
  styleClass="w-[95vw] h-[400px]"
>
  <div>
    <p>Copy your collection in the text area and press import.</p>
    <textarea
      [(ngModel)]="collectionText"
      [placeholder]="importPlaceholder"
      class="border-black-500 min-h-[150px] min-w-full border-2"
      id="text-import"
      pInputTextarea
    ></textarea>
  </div>
  <div class="flex w-full justify-end">
    <button
      (click)="importCollection()"
      icon="pi pi-upload"
      label="Import"
      pButton
      type="button"
    ></button>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="exportDialog"
  [baseZIndex]="10000"
  header="Export Collection"
  styleClass="w-[95vw] max-w-[600px] h-[550px]"
>
  <div class="mx-auto flex flex-col justify-center">
    <p class="text-center font-bold">What cards you want to export?</p>
    <p class="text-center text-xs">(Select nothing for all cards)</p>
    <div class="mx-auto">
      <p-multiSelect
        [filter]="false"
        [(ngModel)]="sets"
        [group]="true"
        [options]="groupedSets"
        [showHeader]="false"
        [showToggleAll]="false"
        defaultLabel="Select a Set"
        display="chip"
        scrollHeight="250px"
        class="mt-2"
        styleClass="w-full max-w-[300px] h-8 text-sm"
      >
        <ng-template let-group pTemplate="group">
          <div class="align-items-center flex">
            <span>{{ group.label }}</span>
          </div>
        </ng-template>
      </p-multiSelect>
    </div>

    <div class="mt-5">
      <h1 class="text-center text-xs font-bold text-white">Rarity:</h1>
      <div class="flex inline-flex w-full justify-center">
        <button
          (click)="changeRarity('C')"
          [ngClass]="{ 'primary-border': rarities.includes('C') }"
          class="min-w-auto primary-background mt-2 h-8 w-10 rounded-l border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
        >
          C
        </button>
        <button
          (click)="changeRarity('UC')"
          [ngClass]="{ 'primary-border': rarities.includes('UC') }"
          class="min-w-auto primary-background mt-2 h-8 w-10 border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
        >
          UC
        </button>
        <button
          (click)="changeRarity('R')"
          [ngClass]="{ 'primary-border': rarities.includes('R') }"
          class="min-w-auto primary-background mt-2 h-8 w-10 border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
        >
          R
        </button>
        <button
          (click)="changeRarity('SR')"
          [ngClass]="{ 'primary-border': rarities.includes('SR') }"
          class="min-w-auto primary-background mt-2 h-8 w-10 border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
        >
          SR
        </button>
        <button
          (click)="changeRarity('SEC')"
          [ngClass]="{ 'primary-border': rarities.includes('SEC') }"
          class="min-w-auto primary-background mt-2 h-8 w-10 rounded-r border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
        >
          SEC
        </button>
        <button
          (click)="changeRarity('P')"
          [ngClass]="{ 'primary-border': rarities.includes('P') }"
          class="min-w-auto primary-background mt-2 h-8 w-10 rounded-r border-slate-200 p-1 text-xs font-semibold text-white"
        >
          P
        </button>
      </div>
    </div>

    <div class="mt-5">
      <h1 class="text-center text-xs font-bold text-white">Version:</h1>
      <div class="flex inline-flex w-full justify-center">
        <button
          (click)="changeVersion('Normal')"
          [ngClass]="{ 'primary-border': versions.includes('Normal') }"
          class="min-w-auto primary-background mt-2 h-8 w-10 rounded-l border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
        >
          Normal
        </button>
        <button
          (click)="changeVersion('AA')"
          [ngClass]="{ 'primary-border': versions.includes('AA') }"
          class="min-w-auto primary-background mt-2 h-8 w-10 border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
        >
          AA
        </button>
        <button
          (click)="changeVersion('Pre-Release')"
          [ngClass]="{ 'primary-border': versions.includes('Pre-Release') }"
          class="min-w-auto primary-background mt-2 h-8 w-10 border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
        >
          Pre-Release
        </button>
        <button
          (click)="changeVersion('Stamp')"
          [ngClass]="{ 'primary-border': versions.includes('Stamp') }"
          class="min-w-auto primary-background mt-2 h-8 w-10 border-slate-200 p-1 text-xs font-semibold text-white"
        >
          Stamp
        </button>
      </div>
    </div>

    <p class="mt-5 text-center font-bold">Missing Cards or Collected Cards?</p>
    <div class="mx-auto flex flex-row">
      <span class="mr-2">Missing</span>
      <p-inputSwitch [(ngModel)]="collectedCards"></p-inputSwitch>
      <span class="ml-2">Collected</span>
    </div>
  </div>

  <div *ngIf="!collectedCards" class="my-5">
    <h1 class="text-center text-xs font-bold text-white">Collection Goal:</h1>
    <div class="flex inline-flex w-full justify-center">
      <button
        (click)="goal = 1"
        [ngClass]="{ 'primary-border': goal === 1 }"
        class="min-w-auto primary-background mt-2 h-8 w-20 rounded-l border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
      >
        1
      </button>
      <button
        (click)="goal = 2"
        [ngClass]="{ 'primary-border': goal === 2 }"
        class="min-w-auto primary-background mt-2 h-8 w-20 rounded-l border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
      >
        2
      </button>
      <button
        (click)="goal = 3"
        [ngClass]="{ 'primary-border': goal === 3 }"
        class="min-w-auto primary-background mt-2 h-8 w-20 rounded-l border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
      >
        3
      </button>
      <button
        (click)="goal = 4"
        [ngClass]="{ 'primary-border': goal === 4 }"
        class="min-w-auto primary-background mt-2 h-8 w-20 rounded-l border-r-2 border-slate-200 p-1 text-xs font-semibold text-white"
      >
        4
      </button>
      <button
        (click)="goal = 5"
        [ngClass]="{ 'primary-border': goal === 5 }"
        class="min-w-auto primary-background mt-2 h-8 w-20 rounded-l border-slate-200 p-1 text-xs font-semibold text-white"
      >
        5
      </button>
    </div>
  </div>

  <div class="mt-5 flex w-full justify-end">
    <button
      (click)="exportCollection()"
      icon="pi pi-download"
      label="Export"
      pButton
      type="button"
    ></button>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="settingsDialog"
  [baseZIndex]="10000"
  header="Advanced Settings"
  styleClass="w-[400px]"
>
  <div class="flex w-full flex-col justify-end">
    <div class="mx-auto mb-5">
      <h1 class="primary-color mt-5">Deck-Cards will be sorted first with:</h1>
      <div class="flex justify-center">
        <p-selectButton
          [formControl]="sortOrderFilter"
          [multiple]="false"
          [options]="sortOrder"
          class="mb-5"
        >
        </p-selectButton>
      </div>
    </div>

    <span class="p-float-label mx-auto mt-5">
      <p-inputNumber
        [(ngModel)]="collectionCount"
        id="float-input"
        mode="decimal"
      ></p-inputNumber>
      <label for="float-input">How many of a card do you collect?</label>
    </span>

    <h5 class="mx-auto mt-5 font-bold">Pre-Release Cards</h5>
    <p-selectButton
      [(ngModel)]="preRelease"
      [options]="showHideOptions"
      class="mx-auto"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>

    <h5 class="mx-auto mt-5 font-bold">Alt. Art Cards</h5>
    <p-selectButton
      [(ngModel)]="aa"
      [options]="showHideOptions"
      class="mx-auto"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>

    <h5 class="mx-auto mt-5 font-bold">Stamped Cards</h5>
    <p-selectButton
      [(ngModel)]="stamped"
      [options]="showHideOptions"
      class="mx-auto"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>
  </div>

  <div class="flex flex-row justify-between">
    <button
      (click)="saveSettings()"
      class="mt-10"
      icon="pi pi-save"
      label="Save Settings"
      pButton
      type="button"
    ></button>
  </div>
</p-dialog>

<p-confirmPopup></p-confirmPopup>

<p-dialog
  [(visible)]="collectionDisplay"
  [baseZIndex]="10000"
  [showHeader]="false"
  header="Collection Stats"
  styleClass="w-[95vw] lg:w-[70vw] xl:w-[60vw] h-[50vh] md:h-[65vh] lg:h-[80vh]"
><digimon-collection-stats-dialog></digimon-collection-stats-dialog></p-dialog>
