.card-button {
  position: absolute;
  cursor: pointer;
  background: white;
  opacity: 0.8;
  color: black;
  z-index: 2;

  min-height: 10%;
  min-width: 15%;
}

.plus {
  bottom: 5px;
  right: 5px;
}

.minus {
  bottom: 5px;
  left: 5px;
}

.count {
  position: absolute;
  font-size: 32px;
  color: white;
  z-index: 2;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  display: block;
  bottom: 5px;
  right: 35%;
  left: 35%;
  min-height: 10%;
  min-width: 15%;
}

.aa {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  top: 5px;
  z-index: 2;
  transform: scale(1.2);
}

img {
  z-index: -1;
  margin: 0 !important;
}

.grayscale {
  -webkit-filter: grayscale(1);
}

.text-center {
  text-align: center;
}

.min-h-150 {
  min-height: 150px;
}
