<div [ngStyle]="{'width': width ?? cardWidth}" class="hover:scale-105 transition-transform relative inline-flex">
  <div (click)="showCardDetails()" (contextmenu)="showCardDetails()">
    <img *ngIf="card.version !== 'Normal'" [ngStyle]="{width: '65%'}" [src]="aa.get(this.card.color)" alt="AA-Banner" class="aa">

    <img [lazyLoad]="card.cardImage" [ngClass]="{'grayscale': count === 0 && collectionMode}"
         [ngStyle]="{'border': cardBorder, 'border-radius': cardRadius}"
         alt="{{card.cardNumber + ' ' + card.name}}" class="m-auto" defaultImage="assets/images/digimon-card-back.webp">
  </div>

  <p-inputNumber *ngIf="collectionMode"
    class="card-count" [min]="0" placeholder="0" [(ngModel)]="count" mode="decimal" buttonLayout="vertical" [showButtons]="true" (onInput)="changeCardCount($event, card.id)"
    [style]="{'width': '100%'}"
    [inputStyle]="{'width': '100%', 'text-align': 'center'}"
    decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
</div>

<digimon-view-card-dialog [show]="viewCardDialog" [card]="card" (onClose)="this.viewCardDialog = false"></digimon-view-card-dialog>
