<div class="relative">

  <button (click)="increaseCard(card.id)" *ngIf="collectionMode" class="plus card-button rounded-full" mat-mini-fab>
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>

  <p *ngIf="collectionMode"  class="count text-center">{{count}}</p>

  <button (click)="decreaseCard(card.id)" *ngIf="collectionMode" class="minus card-button rounded-full" mat-mini-fab>
    <fa-icon [icon]="faMinus"></fa-icon>
  </button>

  <div [ngStyle]="{'width': cardWidth + 'vmin'}" class="hover:scale-105 transition-transform">
    <img *ngIf="card.version !== 'Normal'" class="aa" [src]="getAA()" alt="AA-Banner">

    <img mat-card-image class="m-auto" [src]="card.cardImage" alt="Digimon Card"
         [ngClass]="{'grayscale': count === 0 && collectionMode}">
  </div>
</div>
