.aa {
  position: absolute;
  left: 5px;
  right: 0;
  margin-right: auto !important;
  top: 5px;
  z-index: 2;
  transform: scale(1);
}

img {
  z-index: -1;
  margin: 0 !important;
}

.grayscale {
  -webkit-filter: grayscale(1);
}

.text-center {
  text-align: center;
}
