<div class="flex flex-col h-1/2 text-white border-2 border-slate-500">
  <div class="h-1/2 mx-auto grid grid-cols-2">
    <img
      class="rounded-full min-w-auto p-10 h-full rounded-full text-xs font-semibold text-white"
      *ngIf="user"
      alt="{{ user.displayName }}"
      src="{{ user.photoURL }}"
    />

    <div class="ml-10 text-center my-auto text-2xl font-bold vertical-align">
      {{ user?.displayName ?? 'User' }}
    </div>
  </div>
  <div class="grid grid-cols-4">
    <div class="flex flex-col">
      <digimon-collection-circle class="mx-4" [type]="'BT'"></digimon-collection-circle>
      <label class="text-center">BT</label>
    </div>
    <div class="flex flex-col">
      <digimon-collection-circle class="mx-4" [type]="'EX'"></digimon-collection-circle>
      <label class="text-center">EX</label>
    </div>
    <div class="flex flex-col">
      <digimon-collection-circle class="mx-4" [type]="'ST'"></digimon-collection-circle>
      <label class="text-center">ST</label>
    </div>
    <div class="flex flex-col">
      <digimon-collection-circle class="mx-4" [type]="'P'"></digimon-collection-circle>
      <label class="text-center">P</label>
    </div>
  </div>
</div>
