<p-sidebar [(visible)]="sidebar" [fullScreen]="true" position="right" styleClass="p-sidebar-lg">
  <div class="h-[calc(100vh-58px)]">
    <div class="h-full w-full">
      <digimon-filter-and-search [compact]="true" class="w-100"></digimon-filter-and-search>
      <digimon-card-list
        (onCardClick)="onCardClick($event)"
        [showCount]="32"
      ></digimon-card-list>
    </div>
  </div>
</p-sidebar>

<button
  (click)="sidebar = true"
  class="min-w-auto primary-background ml-2 mt-2 h-8 w-32 rounded p-2 text-xs font-semibold text-white"
>
  Card-List
</button>
