<div class="w-screen h-[calc(100vh-50px)] flex flex-row overflow-hidden">
  <div *ngIf="showUserStats" class="w-2/5 h-full">
    <digimon-user-stats [user]="user" [collection]="collection"></digimon-user-stats>
    <digimon-collection [collection]="collection" [allCards]="allCards"></digimon-collection>
  </div>
  <div [ngClass]="{ 'w-3/5': showUserStats, 'w-full': !showUserStats }" class="w-3/5 h-full max-h-[calc(100vh-58px)]">
    <digimon-decks [decks]="decks"></digimon-decks>
  </div>
</div>
