<div class="w-screen lg:h-[calc(100vh-50px)] flex flex-col lg:flex-row overflow-y-scroll lg:overflow-hidden">
  <div *ngIf="showUserStats" class="lg:w-2/5 h-full">
    <digimon-user-stats [user]="user" [collection]="collection"></digimon-user-stats>
    <digimon-collection [collection]="collection" [allCards]="allCards"></digimon-collection>
  </div>
  <div [ngClass]="{ 'lg:w-3/5': showUserStats, 'w-full': !showUserStats }" class="h-full lg:max-h-[calc(100vh-58px)]">
    <digimon-decks [decks]="decks"></digimon-decks>
  </div>
</div>
