<div class="grid p-5">
  <div class="flex flex-col justify-evenly">
    <mat-form-field appearance="fill" class="flex-grow">
      <mat-label>Deck Name</mat-label>
      <input matInput placeholder="Digimon Card Deck" [(ngModel)]="title">
    </mat-form-field>

    <mat-form-field appearance="fill" class="flex-grow">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" [(ngModel)]="description">
    </mat-form-field>

    <!--mat-form-field appearance="fill" class="flex-grow">
      <mat-label>Tags</mat-label>
      <input matInput placeholder="Tags" [(ngModel)]="deck.tags">
    </mat-form-field-->

    <mat-form-field appearance="fill">
      <mat-label>Color</mat-label>
      <mat-select [(ngModel)]="color">
        <mat-option *ngFor="let color of colorList" [value]="color">{{color.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex flex-direction-col justify-between">
    <button class="m-2" mat-flat-button color="primary" (click)="saveDeck()">Save</button>
    <button class="m-2" mat-flat-button color="primary" (click)="viewDeck()">View Deck</button>
    <button class="m-2" mat-flat-button color="warn" (click)="deleteDeck()">Delete Deck</button>
  </div>
</div>

