<div class="inline-flex w-100">
  <div class="grow w-2/3 border-2 border-slate-300 mr-2">
    <!-- Deck Top Line -->
    <div class="inline-flex flex-grow justify-between w-100 border-b-2 border-slate-600">

      <mat-form-field appearance="fill">
        <mat-label>Deck Name</mat-label>
        <input matInput placeholder="Digimon Card Deck">
      </mat-form-field>

      <p class="border-l-2 border-slate-600">0/5 Eggs</p>
      <p class="border-l-2 border-slate-600">0/50 Cards</p>
      <p class="border-l-2 border-slate-600">0/10 Side</p>

      <div class="border-l-2 border-slate-600">
        <button mat-flat-button>Full Cards</button>
      </div>

      <div class="border-l-2 border-slate-600">
        <button mat-flat-button>Stack</button>
      </div>

      <div class="border-l-2 border-slate-600">
        <button mat-flat-button>Stats</button>
      </div>

      <div class="border-l-2 border-slate-600">
        <button mat-flat-button>Import/Export</button>
      </div>

      <div class="border-l-2 border-slate-600">
        <button aria-label="Share Deck on Social Media." mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </div>


      <div class="border-l-2 border-slate-600">
        <button aria-label="Edit Deck Accessory." mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <div class="border-l-2 border-slate-600">
        <button aria-label="Trash all Cards in the Deck." mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div>
      <h2>Main Deck</h2>
      <div #MainDeckList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[SideDeckList]" [cdkDropListData]="mappedDeck.mainDeck" cdkDropList
           class="card-list flex justify-between border-2 border-amber-500">
        <digimon-full-card *ngFor="let card of mappedDeck.mainDeck" [card]="card" [collectionMode]="false" [count]="0" cdkDrag class="transition scale-95"></digimon-full-card>
      </div>
    </div>

    <div>
      <h2>Side Deck</h2>
      <div #SideDeckList="cdkDropList" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[MainDeckList]" [cdkDropListData]="mappedDeck.sideDeck" cdkDropList
           class="flex justify-between border-2 border-amber-200 min-h-screen">
        <digimon-full-card *ngFor="let card of mappedDeck.sideDeck" [card]="card"
                           [collectionMode]="false" [count]="0" [scale]="false" cdkDrag class="transition scale-95"></digimon-full-card>
      </div>
    </div>
  </div>

  <div class="grow w-1/3 border-2 border-slate-300 ml-2">
    <digimon-filter-box [compact]="true" class="w-100"></digimon-filter-box>
    <digimon-card-list [deckBuilder]="true" class="w-100"></digimon-card-list>
  </div>
</div>

