<div class="inline-flex w-100">
  <div class="inline-flex grow w-1/2 border-2 border-slate-300 mr-2">
    <div>
      <div>DeckName</div>
      <mat-icon>edit</mat-icon>
    </div>
    <div>
      <div>Main Deck</div>
      <div>Deck COunt/50</div>
    </div>
    <div>
      Deck Cards
    </div>
    <div>
      <div>Digi Eggs</div>
      <div>Deck COunt/5</div>
    </div>
    <div>
      Deck Egg Cards
    </div>
    <div>
      <div>Side Deck</div>
      <div>Deck COunt/10</div>
    </div>
    <div>
      Side Deck Cards
    </div>
  </div>

  <div class="inline-flex grow w-1/2 border-2 border-slate-300 ml-2">
    <digimon-filter-box [compact]="true"></digimon-filter-box>
  </div>
</div>

