<div class="inline-flex w-100">
  <div class="grow w-2/3 border-2 border-slate-300 mr-2">
    <!-- Deck Top Line -->
    <div class="inline-flex flex-grow justify-between w-100 border-b-2 border-slate-600">

      <mat-form-field appearance="fill">
        <mat-label>Deck Name</mat-label>
        <input matInput placeholder="Digimon Card Deck">
      </mat-form-field>

      <p class="border-l-2 border-slate-600">0/5 Eggs</p>
      <p class="border-l-2 border-slate-600">0/50 Cards</p>
      <p class="border-l-2 border-slate-600">0/10 Side</p>

      <div class="border-l-2 border-slate-600">
        <button mat-flat-button>Full Cards</button>
      </div>

      <div class="border-l-2 border-slate-600">
        <button mat-flat-button>Stack</button>
      </div>

      <div class="border-l-2 border-slate-600">
        <button mat-flat-button>Stats</button>
      </div>

      <div class="border-l-2 border-slate-600">
        <button mat-flat-button>Import/Export</button>
      </div>

      <div class="border-l-2 border-slate-600">
        <button aria-label="Share Deck on Social Media." mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </div>


      <div class="border-l-2 border-slate-600">
        <button aria-label="Edit Deck Accessory." mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <div class="border-l-2 border-slate-600">
        <button aria-label="Trash all Cards in the Deck." mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="card-container w-100">
      <h2 class="text-center">EGG-DECK</h2>
      <div #EggList="cdkDropList"
           (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[MainDeckList]" [cdkDropListData]="eggs" cdkDropList class="card-list flex flex-wrap border-2 border-slate-800 min-h-fit">
        <div *ngFor="let card of eggs" cdkDrag class="card-box">
          <img [src]="card.cardImage" alt="Digimon Card" class="card-image m-auto" mat-card-image>
        </div>
      </div>
    </div>


    <div class="card-container w-100 border-2 border-slate-800">
      <h2 class="text-center">MAIN-DECK</h2>
      <div #MainDeckList="cdkDropList"
           (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[EggList]" [cdkDropListData]="mainDeck" cdkDropList class="card-list flex flex-wrap border-2 border-slate-800">
        <div *ngFor="let card of mainDeck" cdkDrag class="card-box">
          <img [src]="card.cardImage" alt="Digimon Card" class="card-image m-auto" mat-card-image>
        </div>
      </div>
    </div>

  </div>

  <div class="grow w-1/3 border-2 border-slate-300 ml-2">
    <digimon-filter-box [compact]="true" class="w-100"></digimon-filter-box>
    <digimon-card-list [deckBuilder]="true" [showCount]="50" class="w-100"></digimon-card-list>
  </div>
</div>

