<digimon-sort-buttons></digimon-sort-buttons>

<div class="align-items-center surface-card grid grid-cols-4">
	<div class="flex flex-row">
		<div class="ml-2 mr-1 flex flex-row justify-between no-arrow">
			<span class="mt-2 text-xs font-bold text-white"># per Row:</span>
      <p-dropdown
        [(ngModel)]="cardsPerRow"
        [options]="cardsPerRowOptions"
        styleClass="text-xs h-6.5 w-10 appearance-none"
      ></p-dropdown>

			<span class="ml-5 mt-2 text-xs font-bold text-white"># per Page:</span>
      <p-dropdown
        (onChange)="changeSlice($event)"
        [(ngModel)]="cardsPerPage"
        [options]="cardsPerPageOptions"
        styleClass="text-xs h-6.5 w-10"
      ></p-dropdown>
		</div>
	</div>

	<div class="col-span-2 my-auto">
		<p-paginator
			(onPageChange)="onPageChange($event)"
			[first]="first"
			[rows]="cardsPerPage"
			[showJumpToPageDropdown]="true"
			[showPageLinks]="false"
			[totalRecords]="cards.length"
			styleClass="border-0"
		></p-paginator>
	</div>

	<div class="flex flex-row justify-center">
		<span class="my-auto text-xs font-bold text-white">Collection Mode:</span>
		<input type="checkbox" class="my-auto ml-1 h-5 w-5" [formControl]="collectionMode" />
	</div>
</div>

<digimon-search></digimon-search>

<div class="inline-flex min-h-[calc(100vh-148px)] w-full justify-center overflow-hidden">
	<h1 *ngIf="cards.length === 0" class="primary-color text-bold my-10 text-5xl">No cards found!</h1>

	<div [ngClass]="getGridCols()" class="grid">
		<div (contextmenu)="showDetails(card)" *ngFor="let card of cardsToShow" class="mx-auto w-full">
			<digimon-full-card
				[collectionMode]="collectionMode.value"
        (addCard)="addToDeck(card)"
        [deckView]="deckView"
				[card]="card"
				[count]="getCount(card.id)"
				[deckBuilder]="true"
				class="w-full scale-95 transition"
			></digimon-full-card>
		</div>
	</div>
</div>
