<digimon-sort-buttons></digimon-sort-buttons>

<div class="align-items-center surface-card grid grid-cols-4">
  <div class="ml-2 mr-1 flex flex-col justify-between no-arrow">
    <div class="flex-row">
      <span class="mt-2 text-xs font-bold text-white"># per Row:</span>
      <p-dropdown
        [(ngModel)]="cardsPerRow"
        [options]="cardsPerRowOptions"
        styleClass="text-xs h-6.5 w-10 appearance-none"
      ></p-dropdown>
    </div>

    <div class="flex-row">
      <span class="mt-2 text-xs font-bold text-white"># per Page:</span>
      <p-dropdown
        (onChange)="changeSlice($event)"
        [(ngModel)]="cardsPerPage"
        [options]="cardsPerPageOptions"
        styleClass="text-xs h-6.5 w-10"
      ></p-dropdown>
    </div>
  </div>

	<div class="col-span-2 my-auto">
		<p-paginator
			(onPageChange)="onPageChange($event)"
			[first]="first"
			[rows]="cardsPerPage"
			[showJumpToPageDropdown]="true"
			[showPageLinks]="false"
			[totalRecords]="cards.length"
			styleClass="border-0"
		></p-paginator>
	</div>

  <div class="flex flex-col">
    <div class="flex flex-row justify-center mt-2">
      <span class="text-xs font-bold text-white">Collection Mode:</span>
      <input type="checkbox" class="my-auto ml-1 h-5 w-5" [formControl]="collectionMode" />
    </div>

    <button
      (click)="filterBox = true"
      class="min-w-auto primary-background mx-auto mt-2 h-8 w-32 rounded p-2 text-xs font-semibold text-white 2xl:hidden"
    >
      <i class="pi pi-filter-fill mr-3"></i>Filter
    </button>
  </div>

</div>

<digimon-search></digimon-search>

<div class="inline-flex min-h-[calc(100vh-148px)] w-full justify-center overflow-hidden">
	<h1 *ngIf="cards.length === 0" class="primary-color text-bold my-10 text-5xl">No cards found!</h1>

	<div [ngClass]="getGridCols()" class="grid">
		<div (contextmenu)="showDetails(card)" *ngFor="let card of cardsToShow" class="mx-auto w-full">
			<digimon-full-card
				[collectionMode]="collectionMode.value"
        (addCard)="addToDeck(card)"
        [deckView]="deckView"
				[card]="card"
				[count]="getCount(card.id)"
				[deckBuilder]="true"
				class="w-full scale-95 transition"
			></digimon-full-card>
		</div>
	</div>
</div>

<p-dialog
  header="Filter and Sort"
  [(visible)]="filterBox"
  styleClass="w-[95vw] max-w-[500px] h-[95vh] surface-ground"
  [baseZIndex]="10000"
>
  <digimon-filter-side-box></digimon-filter-side-box>
</p-dialog>
