<div class="inline-flex align-center h-[30px]">
  <div class="flex flex-row justify-center align-middle">
    <button (click)="increaseCardCount()" pButton pRipple type="button" icon="pi pi-plus" class="p-button scale-75 p-button-primary"></button>
    <div class="text-center font-bold primary-color self-center">{{card.count}}</div>
    <button (click)="decreaseCardCount()" pButton pRipple type="button" icon="pi pi-minus" class="p-button scale-75 p-button-primary"></button>
  </div>

  <div class="small-card grid grid-cols-24 gap-0 border-2 border-black rounded-l-2xl min-w-[30vmin] w-[30vmin] max-w-[30vmin] text-xs"
       [ngStyle]="{'background-color': colorMap.get(card.color)}">
    <div *ngIf="card.cardLv === 'Lv.2'" class="col-span-4">
      <div class="egg"></div>
    </div>
    <div *ngIf="card.cardLv !== 'Lv.2'" class="self-center primary-color col-span-3 font-semibold ml-2.5">{{card.playCost}}</div>
    <div *ngIf="card.cardType !== 'Digimon'" class="self-center bg-black"></div>
    <div *ngIf="card.cardType === 'Digimon'" class="border-l-2 self-center primary-color col-span-3 pl-2.5 font-semibold">{{transformDCost(card.digivolveCost1)}}</div>
    <div class="self-center bg-black text-white col-span-2 z-10">{{card.cardLv}}</div>
    <div class="top-bottom-split"></div>
    <div class="self-center primary-color truncate text-center font-semibold" [ngClass]="getColSpan(card)">{{card.name}}</div>
    <div  class="bottom-top-split"></div>
    <div class="self-center col-span-5 bg-black text-white text-xs truncate">{{card.cardNumber}}</div>
  </div>
</div>
