<div *ngIf="!container" class="no-gap grid h-full w-full grid-cols-4">
  <div
    class="h-full w-full text-center"
    [ngStyle]="{
      background: linearGradientEgg()
    }"
  >
    <span class="text-black-outline-xs">{{ ddto[0] }}</span>
  </div>
  <div
    class="h-full w-full text-center"
    [ngStyle]="{
      background: linearGradient(ddto[1])
    }"
  >
    <span class="text-black-outline-xs">{{ ddto[1] }}</span>
  </div>
  <div
    class="h-full w-full text-center"
    [ngStyle]="{
      background: linearGradient(ddto[2])
    }"
  >
    <span class="text-black-outline-xs">{{ ddto[2] }}</span>
  </div>
  <div
    class="h-full w-full text-center"
    [ngStyle]="{
      background: linearGradient(ddto[3])
    }"
  >
    <span class="text-black-outline-xs">{{ ddto[3] }}</span>
  </div>

  <h3 class="h-1/2 text-center text-xs">Egg</h3>
  <h3 class="h-1/2 text-center text-xs">Digimon</h3>
  <h3 class="h-1/2 text-center text-xs">Tamer</h3>
  <h3 class="h-1/2 text-center text-xs">Option</h3>
</div>

<div *ngIf="container" class="flex w-full flex-row">
  <digimon-single-container
    label="Egg"
    [value]="ddto[0]"
    percent="20"
    class="w-12"
  ></digimon-single-container>
  <digimon-single-container
    label="Digimon"
    [value]="ddto[1]"
    class="w-14"
  ></digimon-single-container>
  <digimon-single-container
    label="Tamer"
    [value]="ddto[2]"
    class="w-12"
  ></digimon-single-container>
  <digimon-single-container
    label="Option"
    [value]="ddto[3]"
    class="w-12"
  ></digimon-single-container>
</div>
