<p-dialog [showHeader]="false" header="Change Accessory" [(visible)]="show" [style]="{width: width}" [baseZIndex]="10000">
  <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text ml-auto" (click)="this.onClose.next(false)"></button>

  <p-selectButton class="text-center mt-10" [options]="colorList" [(ngModel)]="color" optionLabel="name">
    <ng-template let-item>
      <span [ngStyle]="{'color': colorMap.get(item.name)}">{{item.name}}</span>
    </ng-template>
  </p-selectButton>

  <div class="flex flex-wrap lg:inline-flex w-full">
    <span class="p-float-label mt-5 w-full">
      <input class="w-full" id="float-input" type="text" pInputText [(ngModel)]="title">
      <label for="float-input">Deck Name</label>
    </span>

    <span class="p-float-label mt-6 w-full">
      <input class="w-full" id="float-input2" type="text" pInputText [(ngModel)]="description">
      <label for="float-input2">Description</label>
    </span>
  </div>

  <span class="p-fluid text-center">
    <p-autoComplete class="mt-6" [(ngModel)]="tags" [suggestions]="filteredTags" (completeMethod)="filterTags($event)" field="name" [multiple]="true">
    </p-autoComplete>
  </span>

  <div *ngIf="cardCount" class="w-full flex justify-end mt-5">
    <button class="m-2" pButton (click)="shareDeck()">Share</button>
  </div>

  <div class="w-full flex justify-end mt-5">
    <button class="m-2" pButton (click)="saveDeck()">Save</button>
  </div>
</p-dialog>
