<p-dialog
	[showHeader]="false"
	header="Change Accessory"
	[(visible)]="show"
	styleClass="w-[95vw] xl:w-[50vw] h-[400px]"
	[baseZIndex]="10000"
>
	<button
		pButton
		pRipple
		type="button"
		icon="pi pi-times"
		class="p-button-text ml-auto"
		(click)="this.onClose.next(false)"
	></button>

	<p-selectButton class="mt-10 text-center" [options]="colorList" [(ngModel)]="color" optionLabel="name">
		<ng-template let-item>
			<span [ngStyle]="{ color: colorMap.get(item.name) }">{{ item.name }}</span>
		</ng-template>
	</p-selectButton>

	<div class="inline-flex w-full">
		<span class="p-float-label mt-5 w-1/2">
			<input class="w-full" id="float-input" type="text" pInputText [(ngModel)]="title" />
			<label for="float-input">Deck Name</label>
		</span>

		<span class="p-float-label ml-5 mt-5 w-1/2">
			<p-autoComplete
				panelStyleClass="w-full"
				id="float-input3"
				[(ngModel)]="tags"
				[suggestions]="filteredTags"
				(completeMethod)="filterTags($event)"
				field="name"
				[multiple]="true"
			>
			</p-autoComplete>
			<label for="float-input3">Tags</label>
		</span>
	</div>

	<span class="p-float-label mt-6 w-full">
		<input class="w-full" id="float-input2" type="text" pInputText [(ngModel)]="description" />
		<label for="float-input2">Description</label>
	</span>

	<div class="mt-5 inline-flex">
		<div class="flex w-full justify-end">
			<button class="m-2" pButton (click)="shareDeck()">Share</button>
		</div>

		<div class="flex w-full justify-end">
			<button class="m-2" pButton (click)="saveDeck()">Save</button>
		</div>
	</div>
</p-dialog>
