<div class="flex h-full w-full flex-row flex-nowrap items-stretch">
  <div
    *ngIf="colorSpread[0] !== 0"
    class="h-full w-full grow text-center"
    [ngStyle]="{
      background: linearGradient(colorSpread[0], '#ef1919')
    }"
  >
    <span class="text-black-outline-xs">{{ colorSpread[0] }}</span>
  </div>
  <div
    *ngIf="colorSpread[1] !== 0"
    class="h-full w-full grow text-center"
    [ngStyle]="{
      background: linearGradient(colorSpread[1], '#19a0e3')
    }"
  >
    <span class="text-black-outline-xs">{{ colorSpread[1] }}</span>
  </div>
  <div
    *ngIf="colorSpread[2] !== 0"
    class="h-full w-full grow text-center"
    [ngStyle]="{
      background: linearGradient(colorSpread[2], '#ffd619')
    }"
  >
    <span class="text-black-outline-xs">{{ colorSpread[2] }}</span>
  </div>
  <div
    *ngIf="colorSpread[3] !== 0"
    class="h-full w-full grow text-center"
    [ngStyle]="{
      background: linearGradient(colorSpread[3], '#19b383')
    }"
  >
    <span class="text-black-outline-xs">{{ colorSpread[3] }}</span>
  </div>
  <div
    *ngIf="colorSpread[4] !== 0"
    class="h-full w-full grow text-center"
    [ngStyle]="{
      background: linearGradient(colorSpread[4], '#191919')
    }"
  >
    <span class="text-black-outline-xs">{{ colorSpread[4] }}</span>
  </div>
  <div
    *ngIf="colorSpread[5] !== 0"
    class="h-full w-full grow text-center"
    [ngStyle]="{
      background: linearGradient(colorSpread[5], '#8d6fdb')
    }"
  >
    <span class="text-black-outline-xs">{{ colorSpread[5] }}</span>
  </div>
  <div
    *ngIf="colorSpread[6] !== 0"
    class="h-full w-full grow text-center"
    [ngStyle]="{
      background: linearGradient(colorSpread[6], '#ffffff')
    }"
  >
    <span class="text-black-outline-xs">{{ colorSpread[6] }}</span>
  </div>
</div>
