p-sidebar ::ng-deep .p-sidebar .p-sidebar-content {
  padding: 0 !important;
  overflow: hidden !important;
}
p-sidebar ::ng-deep .p-sidebar .p-drawer-content {
  padding: 0 !important;
  overflow: hidden !important;
}
