<ng-template *ngIf="fullCards" [ngTemplateOutlet]="fullCard"></ng-template>
<ng-template *ngIf="!fullCards" [ngTemplateOutlet]="smallCard"></ng-template>

<ng-template #fullCard>
	<div class="relative flex flex-col m-1">
		<div
			class="group absolute z-[101] flex h-full w-full flex-col rounded xl:opacity-0 xl:hover:opacity-100"
			(click)="showCardDetails()" (contextmenu)="showCardDetails()"
		>
      <div class="hidden xl:block h-1/2 w-full rounded bg-sky-700 bg-opacity-30">
        <div class="absolute top-2">
          <button *ngIf="edit" (click)="addCardCount($event)" type="button"
                  class="bg-sky-700 z-[101] mx-auto flex h-12 w-12 rounded border border-black hidden group-hover:block"
                  [ngClass]="{'btn-center': bigCards, 'btn-center-2': !bigCards}">
            <span class="text-4xl font-black text-white text-shadow">
              +
            </span>
          </button>
        </div>
      </div>
      <div class="hidden xl:block h-1/2 w-full rounded bg-red-500 bg-opacity-30">
        <div class="absolute bottom-2">
          <button *ngIf="edit" (click)="reduceCardCount($event)" type="button"
                  class="bg-sky-700 z-[101] mx-auto flex h-12 w-12 rounded border border-black hidden group-hover:block"
                  [ngClass]="{'btn-center': bigCards, 'btn-center-2': !bigCards}">
            <span class="text-4xl font-black text-white text-shadow">
              -
            </span>
          </button>
        </div>
      </div>
		</div>

		<img
			[src]="card.cardImage"
			alt="Digimon Card"
			class="rounded border-2 border-black group z-50"
			[ngClass]="{
				'm-auto': fullCards,
				'w-[35vmin] md:w-[16vmin] md:w-[13vmin] lg:w-[10vmin]': !bigCards
			}"
		/>

    <div class="xl:hidden h-1/2 w-full rounded flex flex-row">
      <button *ngIf="edit" (click)="addCardCount($event)" type="button"
              class="bg-sky-700 z-[101] flex h-12 w-1/2 rounded-l border border-black">
        <span class="text-4xl font-black text-white text-shadow mx-auto">
          +
        </span>
      </button>

      <button *ngIf="edit" (click)="reduceCardCount($event)" type="button"
              class="bg-sky-700 z-[101] flex h-12 w-1/2 rounded-r border border-black">
        <span class="text-4xl font-black text-white text-shadow mx-auto">
          -
        </span>
      </button>
    </div>

		<span
			class="text-shadow-white absolute bottom-14 xl:bottom-1 right-1 z-[100] px-2 font-black text-orange-500 text-3xl sm:text-4xl lg:text-5xl"
		>
			<span class="pr-1 text-sky-700">x</span>{{ card.count }}
		</span>

		<p *ngIf="missingCards" class="text-red text-black-outline missing absolute z-[100] text-6xl font-bold">
			{{ (cardHave ?? 0) - card.count > 0 ? 0 : (cardHave ?? 0) - card.count }}
		</p>
	</div>
</ng-template>

<ng-template #smallCard>
	<div class="align-center my-1 ml-2 inline-flex h-[30px]">
		<button
			*ngIf="edit"
			pButton
			pRipple
			type="button"
			icon="pi pi-plus"
			class="p-button-outlined p-button-sm"
			(click)="addCardCount()"
		></button>
		<span class="primary-color font-bolder px-2 text-3xl">x{{ card.count }}</span>
		<button
			*ngIf="edit"
			pButton
			pRipple
			type="button"
			icon="pi pi-minus"
			class="p-button-outlined p-button-sm"
			(click)="reduceCardCount()"
		></button>

		<div
			class="ml-1 inline-flex w-[300px] min-w-[300px] max-w-[300px] rounded-l-2xl border-2 border-black text-xs"
			(click)="showCardDetails()"
			(contextmenu)="showCardDetails()"
			[ngStyle]="{ 'background-color': colorMap.get(completeCard.color) }"
		>
			<div *ngIf="completeCard.cardLv === 'Lv.2'" class="px-5">
				<div class="egg mt-[4px]"></div>
			</div>
			<div
				*ngIf="completeCard.cardLv !== 'Lv.2'"
				class="text-shadow h-full self-center rounded-full bg-sky-700 px-3 font-semibold leading-6 text-white"
			>
				{{ completeCard.playCost }}
			</div>
			<div *ngIf="completeCard.cardType === 'Digimon'" class="text-shadow self-center px-3 font-semibold text-white">
				{{ transformDCost(completeCard.digivolveCost1) }}
			</div>
			<div *ngIf="completeCard.cardType === 'Tamer'" class="text-shadow self-center px-3 font-semibold text-white">
				Tamer
			</div>
			<div *ngIf="completeCard.cardType === 'Option'" class="text-shadow self-center px-3 font-semibold text-white">
				Option
			</div>
			<div class="z-10 h-full self-center bg-black px-1 font-bold leading-6 text-white">
				{{ completeCard.cardLv }}
			</div>
			<div class="bottom-top-split"></div>
			<div class="text-shadow text-md self-center truncate text-center font-semibold text-white">
				{{ completeCard.name }}
			</div>
			<div class="top-bottom-split ml-auto"></div>
			<div class="h-full self-center truncate bg-black px-1 text-xs font-bold leading-6 text-white">
				{{ completeCard.cardNumber }}
			</div>
		</div>
	</div>
</ng-template>
