<ng-template *ngIf="fullCards" [ngTemplateOutlet]="fullCard"></ng-template>
<ng-template *ngIf="!fullCards" [ngTemplateOutlet]="smallCard"></ng-template>

<ng-template #fullCard>
  <div class="inline-flex relative p-1">

    <div class="group flex flex-col absolute w-full h-full z-[101] rounded-lg lg:hover:bg-slate-500 lg:hover:bg-opacity-50"
         (click)="showCardDetails()" (contextmenu)="showCardDetails()">
      <button (click)="addCardCount($event)"
        *ngIf="edit" pButton pRipple type="button" icon="pi pi-plus"
        class="hidden group-hover:block z-[101] p-button-rounded rounded-full h-9 w-9 flex items-center justify-center absolute mx-auto top-2 lg:right-8"
        ></button>
      <button (click)="reduceCardCount($event)"
        *ngIf="edit" pButton pRipple type="button" icon="pi pi-minus"
        class="hidden group-hover:block z-[101] p-button-rounded rounded-full h-9 w-9 flex items-center justify-center absolute mx-auto lg:bottom-4 lg:right-8"
        ></button>

      <button (click)="addCardCount($event)"
              *ngIf="edit" pButton pRipple type="button" icon="pi pi-plus"
              class="lg:hidden z-[101] p-button-rounded rounded-full h-9 w-9 flex items-center justify-center absolute mx-auto top-2 right-2.5"
      ></button>
      <button (click)="reduceCardCount($event)"
              *ngIf="edit" pButton pRipple type="button" icon="pi pi-minus"
              class="lg:hidden z-[101] p-button-rounded rounded-full h-9 w-9 flex items-center justify-center absolute mx-auto top-2 left-2"
      ></button>
    </div>

    <img [src]="card.cardImage" alt="Digimon Card" class="group card-image z-50"
         [ngClass]="{
          'card' : fullCards,
          'm-auto': fullCards,
          'w-[35vmin] md:w-[16vmin] md:w-[13vmin] lg:w-[10vmin]': !bigCards,
          'w-[40vmin]': !bigCards
        }">

    <span class="absolute z-[100] bottom-1 right-1 text-orange-500 font-black px-2 text-shadow-white" [ngClass]="{'text-3xl': !bigCards, ' text-6xl': bigCards}">
      <span class="text-sky-700 pr-1">x</span>{{card.count}}
    </span>

    <p *ngIf="missingCards" class="absolute z-[100] font-bold text-6xl text-red text-black-outline missing">
      {{(cardHave ?? 0) - card.count > 0 ? 0 : (cardHave ?? 0) - card.count}}
    </p>
  </div>
</ng-template>

<ng-template #smallCard>
  <div class="inline-flex align-center h-[30px] my-1 ml-2">
    <button *ngIf="edit" pButton pRipple type="button" icon="pi pi-plus" class="p-button-outlined p-button-sm" (click)="addCardCount()"></button>
    <span class="primary-color font-bolder text-3xl px-2">x{{card.count}}</span>
    <button *ngIf="edit" pButton pRipple type="button" icon="pi pi-minus" class="p-button-outlined p-button-sm" (click)="reduceCardCount()"></button>

    <div class="inline-flex ml-1 border-2 border-black rounded-l-2xl min-w-[300px] w-[300px] max-w-[300px] text-xs" (click)="showCardDetails()" (contextmenu)="showCardDetails()"
         [ngStyle]="{'background-color': colorMap.get(completeCard.color)}">
      <div *ngIf="completeCard.cardLv === 'Lv.2'" class="px-5">
        <div class="egg mt-[4px]"></div>
      </div>
      <div *ngIf="completeCard.cardLv !== 'Lv.2'" class="rounded-full leading-6 self-center px-3 h-full bg-sky-700 text-white text-shadow font-semibold">{{completeCard.playCost}}</div>
      <div *ngIf="completeCard.cardType === 'Digimon'" class="self-center px-3 text-white text-shadow font-semibold">{{transformDCost(completeCard.digivolveCost1)}}</div>
      <div *ngIf="completeCard.cardType === 'Tamer'" class="self-center px-3 text-white text-shadow font-semibold">Tamer</div>
      <div *ngIf="completeCard.cardType === 'Option'" class="self-center px-3 text-white text-shadow font-semibold">Option</div>
      <div class="self-center px-1 h-full bg-black text-white leading-6 font-bold z-10">{{completeCard.cardLv}}</div>
      <div class="bottom-top-split"></div>
      <div class="self-center text-white text-shadow text-md truncate text-center font-semibold">{{completeCard.name}}</div>
      <div  class="ml-auto top-bottom-split"></div>
      <div class="self-center px-1 h-full bg-black  leading-6 font-bold text-white text-xs truncate">{{completeCard.cardNumber}}</div>
    </div>
  </div>
</ng-template>
