<p-dialog [(visible)]="show" [baseZIndex]="10000" [showHeader]="false" class="overflow-x-hidden">
  <div class="min-w-full md:min-w-[700px] w-full md:w-[700px] max-w-full md:max-w-[700px] h-full overflow-x-hidden">
    <div id="Header" class="inline-flex justify-between w-full align-center mt-5 h-10">
      <p id="Card-Number" class="font-bold text-gray-500 self-center text-xl">{{card.cardNumber}}</p>
      <p id="Card-Rarity" class="font-bold text-white uppercase self-center text-xl">{{card.rarity}}</p>
      <p id="Card-Type" class="font-bold self-center text-xl" [ngStyle]="{color}">{{card.cardType}}</p>
      <div id="Digimon-Lv" class=" inline-block my-2 px-6 py-2.5 leading-tight rounded-full shadow-md" [ngStyle]="{backgroundColor}">
        <p class="font-bold text-white text-xl leading-[5px]">{{card.cardLv}}</p>
      </div>
      <p id="Card-Version" class="font-bold self-center text-xl" [ngStyle]="{color}">{{version}}</p>
      <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text" (click)="this.onClose.next(false)"></button>
    </div>

    <div class="flex flex-row">
      <h1 id="Card-Name" class="font-black my-5 text-4xl" [ngStyle]="{color}">{{card.name}}</h1>
      <button pButton pRipple type="button" icon="pi pi-question-circle" class="p-button-text" (click)="openWiki()"></button>
    </div>


    <div id="Image-Attributes" class="w-full flex flex-row">
      <div class="w-1/2">
        <img [lazyLoad]="this.png" defaultImage="assets/images/digimon-card-back.webp" alt="{{imageAlt}}">
      </div>
      <div class="w-1/2 max-w-1/2 pl-2 self-center">
        <div id="Digimon-Form" class="flex flex-col" *ngIf="card.form !== '-'">
          <p class="font-extrabold text-lg" [ngStyle]="{color}">Form</p>
          <p class="font-bold font-white text-lg">{{card.form}}</p>
        </div>
        <div id="Digimon-Attribute" class="flex flex-col" *ngIf="card.attribute !== '-'">
          <p class="font-extrabold text-lg" [ngStyle]="{color}">Attribute</p>
          <p class="font-bold font-white text-lg">{{card.attribute}}</p>
        </div>
        <div id="Digimon-Type" class="flex flex-col" *ngIf="card.type !== '-'">
          <p class="font-extrabold text-lg" [ngStyle]="{color}">Type</p>
          <p class="font-bold font-white text-lg">{{card.type}}</p>
        </div>
        <div id="Digimon-DP" class="flex flex-col" *ngIf="card.dp !== '-'">
          <p class="font-extrabold text-lg" [ngStyle]="{color}">DP</p>
          <p class="font-bold font-white text-lg">{{card.dp}}</p>
        </div>
        <div id="Digimon-Play-Cost" class="flex flex-col" *ngIf="card.playCost !== '-'">
          <p class="font-extrabold text-lg" [ngStyle]="{color}">Play Cost</p>
          <p class="font-bold font-white text-lg">{{card.playCost}}</p>
        </div>
        <div id="Digimon-Digivolve-Cost-1" class="flex flex-col" *ngIf="card.digivolveCost1 !== '-'">
          <p class="font-extrabold text-lg" [ngStyle]="{color}">Digivolve Cost 1</p>
          <p class="font-bold font-white text-lg">{{card.digivolveCost1}}</p>
        </div>
        <div id="Digimon-Digivolve-Cost-2" class="flex flex-col" *ngIf="card.digivolveCost2 !== '-'">
          <p class="font-extrabold text-lg" [ngStyle]="{color}">Digivolve Cost 2</p>
          <p class="font-bold font-white text-lg">{{card.digivolveCost2}}</p>
        </div>
        <div id="Digimon-Special-Digivolve" class="flex flex-col" *ngIf="card.specialDigivolve !== '-'">
          <p class="font-extrabold text-lg" [ngStyle]="{color}">Special Digivolve</p>
          <p class="font-bold font-white text-lg">{{card.specialDigivolve}}</p>
        </div>
        <div id="Digimon-DNA-Digivolve" class="flex flex-col" *ngIf="card.dnaDigivolve !== '-'">
          <p class="font-extrabold text-lg" [ngStyle]="{color}">DNA-Digivolve</p>
          <p class="font-bold font-white text-lg">{{card.dnaDigivolve}}</p>
        </div>
        <div id="Digimon-DigiXros" class="flex flex-col" *ngIf="card.digiXros !== '-'">
          <p class="font-extrabold text-lg" [ngStyle]="{color}">DigiXros</p>
          <p class="font-bold font-white text-lg">{{card.digiXros}}</p>
        </div>
      </div>
    </div>

    <div id="Effects" class="max-w-full">
      <div id="Digimon-Effect" class="flex flex-col" *ngIf="card.effect !== '-'">
        <p class="font-extrabold text-lg" [ngStyle]="{color}">Effect</p>
        <p class="font-bold font-white text-lg">{{card.effect}}</p>
      </div>
      <div id="Digimon-Digivolve-Effect" class="flex flex-col" *ngIf="card.digivolveEffect !== '-'">
        <p class="font-extrabold text-lg" [ngStyle]="{color}">Digivolve effect</p>
        <p class="font-bold font-white text-lg">{{card.digivolveEffect}}</p>
      </div>
      <div id="Security-Effect" class="flex flex-col" *ngIf="card.securityEffect !== '-'">
        <p class="font-extrabold text-lg" [ngStyle]="{color}">Security effect</p>
        <p class="font-bold font-white text-lg">{{card.securityEffect}}</p>
      </div>
    </div>

    <div id="Notes" class="max-w-full">
      <div id="Card-Notes" class="flex flex-col">
        <p class="font-extrabold text-lg" [ngStyle]="{color}">Notes</p>
        <p class="font-bold font-white text-lg">{{card.notes}}</p>
      </div>
    </div>

    <div id="Illustrator" class="max-w-full" *ngIf="card.illustrator !== ''">
      <div id="Card-Illustrator" class="flex flex-col">
        <p class="font-extrabold text-lg" [ngStyle]="{color}">Illustrator</p>
        <div class="flex flex-row">
          <p class="font-bold font-white text-lg">{{card.illustrator}}</p>
          <button pButton pRipple type="button" icon="pi pi-question-circle" class="p-button-text" (click)="openWikiIllustrator()"></button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
