<div *ngIf="!edit" class="w-full">
  <div class="mx-auto h-[calc(100vh-50px)] max-w-7xl overflow-y-scroll">
    <div class="relative">
      <h1 class="mb-2 w-full text-center text-3xl font-extrabold text-white">
        {{ title }}
      </h1>
      <button
        class="p-button-outlined p-button-rounded absolute left-[5px] top-[20px]"
        icon="pi pi-arrow-left"
        pButton
        pRipple
        type="button"
        (click)="router.navigateByUrl('')"
      ></button>
      <button
        *ngIf="showEdit(blog)"
        class="p-button-outlined p-button-rounded absolute right-[5px] top-[20px]"
        icon="pi pi-pencil"
        pButton
        pRipple
        type="button"
        (click)="edit = true"
      ></button>
    </div>
    <div class="flex flex-row">
      <span class="mb-2 w-full text-center font-bold text-white"
        >{{ author }} / {{ date | date: "dd.MM.yyyy" }}</span
      >
    </div>

    <ckeditor
      [editor]="Editor"
      class="list-disc text-white"
      [(ngModel)]="content"
      [disabled]="true"
    ></ckeditor>

    <div class="h-24 w-full lg:hidden"></div>
  </div>
</div>

<div
  *ngIf="edit"
  class="mx-auto h-[calc(100vh-50px)] max-w-7xl overflow-y-scroll"
>
  <div class="t-5 flex flex-row">
    <button
      class="p-button-outlined p-button-rounded mr-2"
      icon="pi pi-arrow-left"
      pButton
      pRipple
      type="button"
      (click)="router.navigateByUrl('')"
    ></button>
    <span class="w-full">
      <input
        [(ngModel)]="title"
        placeholder="Title:"
        class="mb-3 h-8 w-full text-sm"
        pInputText
        type="text"
      />
    </span>
    <button
      *ngIf="showEdit(blog)"
      class="p-button-outlined p-button-rounded ml-2"
      icon="pi pi-pencil"
      pButton
      pRipple
      type="button"
      (click)="edit = false"
    ></button>
  </div>
  <div class="mb-3">
    <div class="flex inline-flex w-full justify-center">
      <button
        (click)="category = 'Tournament Report'"
        [ngClass]="{
          'primary-background': category === 'Tournament Report'
        }"
        class="min-w-auto mt-2 h-8 w-36 rounded-l-sm border border-slate-100 p-2 text-xs font-semibold text-white"
      >
        Tournament Report
      </button>
      <button
        (click)="category = 'Deck-Review'"
        [ngClass]="{
          'primary-background': category === 'Deck-Review'
        }"
        class="min-w-auto mt-2 h-8 w-36 border border-slate-100 p-2 text-xs font-semibold text-white"
      >
        Deck-Review
      </button>
    </div>
  </div>

  <ckeditor
    [editor]="Editor"
    class="list-disc text-white"
    [(ngModel)]="content"
    (ready)="onReady($event)"
  ></ckeditor>

  <button
    class="p-button mt-3"
    icon="pi pi-save"
    pButton
    pRipple
    type="button"
    label="Save"
    (click)="save()"
  ></button>
</div>
