<div class="h-[calc(100vh-50px)] w-full overflow-y-scroll">
  <div class="mx-auto flex max-w-7xl flex-col">
    <div class="mb-5 w-full border-2 border-slate-500 p-1">
      <div class="flex flex-row">
        <h1 class="mb-2 w-full text-3xl font-extrabold text-white">
          Digimon Forum
        </h1>
        <button
          *ngIf="showWrite()"
          class="p-button-outlined p-button-rounded ml-auto mr-2"
          icon="pi pi-plus"
          pButton
          pRipple
          type="button"
          (click)="newEntry()"
        ></button>
      </div>

      <div class="overflow-x-auto">
        <div class="inline-block h-64 min-w-full overflow-auto py-2">
          <table class="min-w-full">
            <thead class="surface-card border-b">
              <tr>
                <th scope="col" class="w-7 px-1 py-2"></th>
                <th
                  scope="col"
                  class="px-6 py-2 text-left text-sm font-medium text-white"
                >
                  Title
                </th>
                <th
                  scope="col"
                  class="px-6 py-2 text-left text-sm font-medium text-white"
                >
                  Author
                </th>
                <th
                  scope="col"
                  class="px-6 py-2 text-left text-sm font-medium text-white"
                >
                  Date
                </th>
                <th
                  *ngIf="showButtons()"
                  scope="col"
                  class="px-6 py-2 text-left text-sm font-medium text-white"
                ></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="showWrite()">
                <tr
                  *ngFor="let blog of blogEntriesHidden"
                  class="border-b transition duration-300 ease-in-out hover:hover:backdrop-brightness-150"
                >
                  <td class="w-7 whitespace-nowrap px-1 py-2">
                    <img
                      alt="Blog Category"
                      class="m-auto text-white"
                      [src]="getIcon(blog.category)"
                    />
                  </td>
                  <td
                    class="cursor-pointer whitespace-nowrap px-6 py-2 text-sm font-light text-white"
                    (click)="open(blog)"
                  >
                    <h2>{{ blog.title }}</h2>
                  </td>
                  <td
                    class="whitespace-nowrap px-6 py-2 text-sm font-light text-white"
                  >
                    {{ blog.author }}
                  </td>
                  <td
                    class="whitespace-nowrap px-6 py-2 text-sm font-light text-white"
                  >
                    {{ blog.date | date: "dd.MM.yyyy" }}
                  </td>
                  <td
                    *ngIf="showButtons()"
                    class="whitespace-nowrap px-6 py-2 text-sm font-light text-white"
                  >
                    <button
                      *ngIf="showButtons()"
                      [disabled]="!isAdmin()"
                      class="p-button p-button-rounded ml-auto mr-2"
                      icon="pi pi-times"
                      pButton
                      pRipple
                      type="button"
                      (click)="approve(blog)"
                    ></button>
                    <button
                      *ngIf="isAdmin()"
                      class="p-button p-button-rounded ml-auto mr-2"
                      icon="pi pi-trash"
                      pButton
                      pRipple
                      type="button"
                      (click)="delete(blog, $event)"
                    ></button>
                  </td>
                </tr>
              </ng-container>
              <tr
                *ngFor="let blog of blogEntries"
                class="border-b transition duration-300 ease-in-out hover:hover:backdrop-brightness-150"
              >
                <td class="w-7 whitespace-nowrap px-1 py-2">
                  <img
                    alt="Blog Category"
                    class="m-auto text-white"
                    [src]="getIcon(blog.category)"
                  />
                </td>
                <td
                  class="cursor-pointer whitespace-nowrap px-6 py-2 text-sm font-light text-white"
                  (click)="open(blog)"
                >
                  {{ blog.title }}
                </td>
                <td
                  class="whitespace-nowrap px-6 py-2 text-sm font-light text-white"
                >
                  {{ blog.author }}
                </td>
                <td
                  class="whitespace-nowrap px-6 py-2 text-sm font-light text-white"
                >
                  {{ blog.date | date: "dd.MM.yyyy" }}
                </td>
                <td
                  *ngIf="showButtons()"
                  class="whitespace-nowrap px-6 py-2 text-sm font-light text-white"
                >
                  <button
                    *ngIf="showButtons()"
                    [disabled]="!isAdmin()"
                    class="p-button p-button-rounded ml-auto mr-2"
                    icon="pi pi-check"
                    pButton
                    pRipple
                    type="button"
                    (click)="hide(blog)"
                  ></button>
                  <button
                    *ngIf="isAdmin()"
                    class="p-button p-button-rounded ml-auto mr-2"
                    icon="pi pi-trash"
                    pButton
                    pRipple
                    type="button"
                    (click)="delete(blog, $event)"
                  ></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <digimon-deck-statistics class="mb-5"></digimon-deck-statistics>

    <digimon-tierlist></digimon-tierlist>
  </div>
  <div class="h-24 w-full lg:hidden"></div>
</div>
