<div
  [ngClass]="{ hidden: mobileCollectionView }"
  class="relative inline-flex h-[calc(100vh-50px)] w-full flex-row overflow-hidden"
>
  <button
    *ngIf="showAccordionButtons"
    class="primary-background my-1 h-full w-6 border-y border-slate-200"
    (click)="changeView('Deck')"
  >
    <span
      class="h-full w-full rotate-180 text-center font-bold text-white"
      [ngStyle]="{ writingMode: 'vertical-rl' }"
      >{{ deckView ? "Hide Deck View" : "Show Deck View" }}</span
    >
  </button>
  <div
    *ngIf="deckView"
    class="my-1 mr-1 h-full justify-center overflow-x-hidden overflow-y-scroll border border-slate-200"
    [ngClass]="{ 'w-5/12': collectionView, 'w-full': !collectionView }"
  >
    <digimon-deck-view
      [collectionView]="collectionView"
      (hideStats)="hideStats = !hideStats"
    ></digimon-deck-view>
  </div>

  <div
    *ngIf="collectionView"
    class="my-1 h-full max-h-full"
    [ngClass]="{ 'w-7/12': deckView, 'w-full': !deckView }"
  >
    <digimon-collection-view
      class="h-full max-h-full"
      [deckView]="deckView"
    ></digimon-collection-view>
  </div>
  <button
    *ngIf="showAccordionButtons"
    class="primary-background my-1 h-full w-6 border-y border-slate-200"
    (click)="changeView('Collection')"
  >
    <span
      class="h-full w-full rotate-180 text-center font-bold text-white"
      [ngStyle]="{ writingMode: 'vertical-rl' }"
      >{{ collectionView ? "Hide Card View" : "Show Card View" }}</span
    >
  </button>

  <digimon-deck-stats
    class="fixed z-[300]"
    [ngClass]="{ hidden: hideStats }"
    [collectionView]="collectionView"
    [showStats]="showStats"
  ></digimon-deck-stats>
</div>

<div
  [ngClass]="{ hidden: !mobileCollectionView }"
  class="h-[calc(100vh-70px)] overflow-y-scroll"
>
  <div class="h-full w-full">
    <digimon-filter-and-search
      [compact]="true"
      class="w-100"
    ></digimon-filter-and-search>
    <digimon-card-list [showCount]="32"></digimon-card-list>
  </div>
</div>
