<button
  pButton
  pRipple
  type="button"
  icon="pi pi-times"
  class="p-button-text ml-auto"
  (click)="this.onClose.next(false)"
></button>

<div>
  <p>
    Copy your deck in the text area and press import or press the "Import
    Text-File"-Button to import a file.
  </p>
  <textarea
    pInputTextarea
    [placeholder]="importPlaceholder"
    id="text-import"
    class="border-black-500 min-h-[200px] min-w-full border-2"
    [(ngModel)]="deckText"
  ></textarea>
</div>

<div class="mt-5 flex w-full">
  <input
    style="display: none"
    type="file"
    accept=".txt"
    id="file-input"
    (change)="handleFileInput($event.target)"
    #fileUpload
  />
  <button pButton (click)="fileUpload.click()">Import Text-File</button>
  <button pButton (click)="importDeck()" style="margin-left: 5px">
    Import
  </button>
</div>
