<p-sidebar [(visible)]="sidebar" [fullScreen]="true" position="right" styleClass="p-sidebar-lg">
  <div class="h-[calc(100vh-58px)]">
    <div class="w-full h-full">
      <digimon-filter-box [compact]="true" class="w-100"></digimon-filter-box>
      <digimon-card-list (onCardClick)="onCardClick($event)" [biggerCards]="true" [compact]="true" [showCount]="30"></digimon-card-list>
    </div>
  </div>
</p-sidebar>

<!-- With Splitter -->
<div class="inline-flex flex-row max-h-screen relative w-full">

  <div class="w-full inline-flex">
    <div [ngClass]="{'h-full w-screen lg:w-6/12 2xl:w-5/12': !fullscreen, 'h-full w-screen ': fullscreen}">
      <div class="h-full pb-48">
        <div class="w-full h-full border-2 border-slate-300">
          <div class="toolbar flex flex-wrap w-100 border-b-2 border-slate-600 justify-center surface-ground">
            <div class="border-2 border-slate-500 pr-2 pl-2 primary-color flex flex-row text-center align-center"><b>
              {{getCardCount('Egg')}}</b>/<p class="bottom-font pr-1">5 </p>
              <p class="text-xs">Eggs</p>
            </div>

            <div class="border-2 border-slate-500 pr-2 pl-2 primary-color flex flex-row text-center align-center"><b>
              {{getCardCount('Main')}}</b>/<p class="bottom-font pr-1">50 </p>
              <p class="text-xs"> Cards</p>
            </div>

            <button (click)="missingCards = !missingCards" class="p-button-outlined" icon="pi pi-ban" iconPos="left" label="Missing" pButton></button>

            <button (click)="statsSidebar = !statsSidebar" class="p-button-outlined" icon="pi pi-chart-bar" iconPos="left" pButton></button>

            <button (click)="share()" class="p-button-outlined" icon="pi pi-share-alt" iconPos="left" pButton></button>

            <button (click)="fullscreen = !fullscreen" class="p-button-outlined hidden lg:block" icon="pi pi-window-maximize" iconPos="left" pButton></button>

            <button (click)="saveDeck($event)" class="p-button-outlined" icon="pi pi-save" iconPos="left" pButton></button>

            <button (click)="delete()" class="p-button-outlined" icon="pi pi-trash" iconPos="left" pButton></button>

            <button (click)="openImportDeckDialog()" class="p-button-outlined" icon="pi pi-upload" iconPos="left" pButton></button>

            <button (click)="openExportDeckDialog()" class="p-button-outlined" icon="pi pi-download" iconPos="left" pButton></button>

            <p-button (click)="sidebar = true" class="lg:hidden absolute right-10 -top-[43px]" icon="pi pi-plus" label="Card-List" type="text"></p-button>
          </div>

          <div class="card-container w-full h-full surface-ground">
            <div class="flex justify-center">
              <p-selectButton [formControl]="colorFilter" [multiple]="false" [options]="colors" class="Colors">
                <ng-template let-color>
                  <i [ngClass]="{'pi-check': colorChecked(color), 'pi-times': !colorChecked(color)}" class="pi"></i>
                </ng-template>
              </p-selectButton>
            </div>

            <div class="inline-flex w-full mb-2 mx-5">
              <span class="p-float-label mt-6 w-1/2">
                <input [(ngModel)]="title" class="w-full" id="float-input" pInputText type="text">
                <label for="float-input">Deck-Name</label>
              </span>

              <span class="p-float-label ml-5 mr-10 mt-6 w-1/2">
                <p-autoComplete
                  (completeMethod)="filterTags($event)" [(ngModel)]="tags"
                  [multiple]="true" [suggestions]="filteredTags" field="name" id="float-input3" panelStyleClass="w-[calc(100%-75px)]">
                </p-autoComplete>
                <label for="float-input3">Tags</label>
              </span>
            </div>

            <span class="p-float-label mt-6 ml-5 mr-5">
              <textarea [(ngModel)]="description" class="w-full overflow-hidden" id="float-input2" pInputTextarea></textarea>
              <label for="float-input2">Description</label>
            </span>

            <div class="grid pt-3 grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 pb-48">
              <div *ngFor="let card of mainDeck">
                <digimon-deck-card
                  (onChange)="mapToDeck()" (removeCard)="removeCard(card)" [bigCards]="fullscreen" [cardHave]="getCardHave(card)" [card]="card"
                  [cards]="allCards" [edit]="true" [fullCards]="fullCards" [missingCards]="missingCards" [stack]="stack"></digimon-deck-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{'h-[calc(100vh-58px)] hidden lg:block lg:w-6/12 2xl:w-7/12': !fullscreen, 'hidden': fullscreen}">
      <div class="h-[calc(100vh-58px)]">
        <div class="flex flex-row">
          <div class="w-full 2xl:w-9/12 hidden lg:block">
            <digimon-search [cardTypesShow]="false" [colorsShow]="false" [deckBuilder]="true"></digimon-search>
            <digimon-pagination-card-list (onCardClick)="onCardClick($event)"></digimon-pagination-card-list>
          </div>
          <div class="hidden 2xl:flex 2xl:w-3/12">
            <digimon-filter-side-box [showColors]="true"></digimon-filter-side-box>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row w-screen fixed bottom-0 z-[102] h-36 lg:w-5/12 2xl:w-4/12">
      <div *ngIf="statsSidebar" class="w-full border-t-2 border-white flex flex-row surface-card bg-opacity-25">
        <digimon-chart-containers [deck]="mainDeck" class="md:ml-10 mr-auto max-w-[40rem]"></digimon-chart-containers>
      </div>
      <div class="hidden lg:block triangle z-[102] h-36 mr-auto w-1/12"></div>
    </div>

  </div>
</div>
