.w-100 {
  width: 100%;
}

.max-h-screen-minus {
  max-height: calc(100vh - 58px);
}

.margin-top-5 {
  margin-top: 5px !important;
}

.toolbar {
  p {
    text-align:center;
    line-height:42px;
    height:42px;
  }

  div {
    display:flex;
    justify-content:center;
    align-items:center;
    height:42px;
  }

  button {
    height: 100%;
  }

  .bottom-font {
    line-height: 60px;
  }
}

.card-container {
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.card-list {
  min-height: 20px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.card-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
}

digimon-filter-side-box::ng-deep {
  p-selectButton::ng-deep {
    .p-buttonset {
      display: grid !important;
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
  }
}


.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 0 0 200px;
  border-color: transparent transparent transparent var(--surface-card);
  .inner-triangle {
    .inner-triangle {
      position: relative;
      top: -20px;
      left: 2px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 200px 0 0 200px;
      border-color: transparent transparent transparent red;
    }
  }
}
