<button mat-raised-button class="import" (click)="openImportDialog()">Import Deck</button>

<div class="flex flex-wrap">
  <mat-card *ngFor="let deck of decks$ | async" class="deck flex-item border-4 border-black m-2" [ngStyle]="{ 'background': deck.color }">
    <mat-card-header class="mb-2 text-oneline">
      <mat-card-title class="text-shadow text-white">{{deck.title ?? 'Digimon Card Deck'}}</mat-card-title>
    </mat-card-header>
    <div class="flex justify-center">
      <img class="m-auto" mat-card-image [src]="deck.image ?? 'assets/images/Digimon-Card-Back.webp'">
    </div>
    <mat-card-actions class="flex justify-center">
      <mat-button-toggle-group class="rounded" name="action" aria-label="Deck Actions">
        <mat-button-toggle value="view"><mat-icon>zoom_out_map</mat-icon></mat-button-toggle>
        <mat-button-toggle value="edit"><mat-icon>edit</mat-icon></mat-button-toggle>
        <mat-button-toggle value="export"><mat-icon>cloud_download</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
</div>

