<div class="flex flex-col pl-7 py-3 mb-2 surface-ground">
  <div class="self-center w-full inline-flex mr-10"
       [ngClass]="{'lg:w-10/12 xl:w-8/12': !deckBuilder, 'xl:w-10/12': deckBuilder}">
    <span class="p-input-icon-left w-full" [ngStyle]="{display: 'inline-flex'}">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [formControl]="searchFilter" placeholder="Search" class="w-full">
    </span>

    <button (click)="this.display = true" pButton type="button" icon="pi pi-filter-fill"
            [ngClass]="{'lg:hidden': !deckBuilder, '2xl:hidden': deckBuilder}" label="Filter"></button>
  </div>

  <div class="mt-4 flex flex-col self-center justify-between w-full"
       [ngClass]="{'lg:w-10/12 xl:w-8/12 lg:flex-row lg:mx-10': !deckBuilder, 'hidden': deckBuilder}">
    <div [ngClass]="{'hidden': !colorsShow, 'hidden lg:block': colorsShow}">
      <p-selectButton class="Colors" [options]="colors" [formControl]="colorFilter" [multiple]="true">
        <ng-template let-color>
          <i class="pi" [ngClass]="{'pi-check': colorChecked(color), 'pi-times': !colorChecked(color)}"></i>
        </ng-template>
      </p-selectButton>
    </div>

    <div [ngClass]="{'hidden': !cardTypesShow, 'hidden lg:block': cardTypesShow}">
      <p-selectButton
        [options]="cardTypes" [formControl]="cardTypeFilter" [multiple]="true">
      </p-selectButton>
    </div>
  </div>
</div>

<p-dialog header="Filter and Sort" [(visible)]="display" styleClass="w-[95vw] h-[95vh]" [baseZIndex]="10000">
  <digimon-filter-side-box [showColors]="true"></digimon-filter-side-box>
</p-dialog>
