<div class="flex flex-col pl-7 py-3 mb-2 surface-ground">
  <div [ngClass]="{'lg:w-10/12 xl:w-8/12': !deckBuilder, 'xl:w-10/12': deckBuilder}"
       class="self-center w-full inline-flex mr-10">
    <span [ngStyle]="{display: 'inline-flex'}" class="p-input-icon-left w-full">
      <i class="pi pi-search"></i>
      <input [formControl]="searchFilter" class="w-full" pInputText placeholder="Search" type="text">
    </span>

    <p-dropdown [formControl]="cardSetFilter" [options]="cardSets"></p-dropdown>

    <button (click)="this.display = true" [ngClass]="{'lg:hidden': !deckBuilder, '2xl:hidden': deckBuilder}" icon="pi pi-filter-fill" label="Filter"
            pButton type="button"></button>
  </div>

  <div [ngClass]="{'lg:w-10/12 xl:w-8/12 lg:flex-row lg:mx-10': !deckBuilder, 'hidden': deckBuilder}"
       class="mt-4 flex flex-col self-center justify-between w-full">
    <div [ngClass]="{'hidden': !colorsShow, 'hidden lg:block': colorsShow}">
      <p-selectButton [formControl]="colorFilter" [multiple]="true" [options]="colors" class="Colors">
        <ng-template let-color>
          <i [ngClass]="{'pi-check': colorChecked(color), 'pi-times': !colorChecked(color)}" class="pi"></i>
        </ng-template>
      </p-selectButton>
    </div>

    <div [ngClass]="{'hidden': !cardTypesShow, 'hidden lg:block': cardTypesShow}">
      <p-selectButton
        [formControl]="cardTypeFilter" [multiple]="true" [options]="cardTypes">
      </p-selectButton>
    </div>
  </div>
</div>

<p-dialog [(visible)]="display" [baseZIndex]="10000" header="Filter and Sort" styleClass="w-[95vw] h-[95vh]">
  <digimon-filter-side-box [showColors]="true"></digimon-filter-side-box>
</p-dialog>
