<div class="p-5">
  <button (click)="importCollection()" mat-menu-item>
    <mat-icon>cloud_upload</mat-icon>
    <span>Import Collection</span>
  </button>
  <input #fileUpload (change)="handleFileInput($event.target)" accept=".json" id="file-input" type="file">
  <button (click)="fileUpload.click()" mat-menu-item>
    <mat-icon>cloud_upload</mat-icon>
    <span>Import Save</span>
  </button>
  <button (click)="exportSave()" mat-menu-item>
    <mat-icon>cloud_download</mat-icon>
    <span>Export Save</span>
  </button>
</div>

