<div class="m-1 w-10 h-full">
  <p class="text-center primary-color font-bold text-lg">{{getFillCount()}}</p>
  <div class="container">
    <div class="Multi w-full" [ngStyle]="{height: 'calc('+fill[7]+' * '+fillPercent+'%)'}"></div>
    <div class="White w-full" [ngStyle]="{height: 'calc('+fill[6]+' * '+fillPercent+'%)'}"></div>
    <div class="Purple w-full" [ngStyle]="{height: 'calc('+fill[5]+' * '+fillPercent+'%)'}"></div>
    <div class="Black w-full" [ngStyle]="{height: 'calc('+fill[4]+' * '+fillPercent+'%)'}"></div>
    <div class="Green w-full" [ngStyle]="{height: 'calc('+fill[3]+' * '+fillPercent+'%)'}"></div>
    <div class="Yellow w-full" [ngStyle]="{height: 'calc('+fill[2]+' * '+fillPercent+'%)'}"></div>
    <div class="Blue w-full" [ngStyle]="{height: 'calc('+fill[1]+' * '+fillPercent+'%)'}"></div>
    <div class="Red w-full" [ngStyle]="{height: 'calc('+fill[0]+' * '+fillPercent+'%)'}"></div>
  </div>
  <p class="text-center primary-color font-bold text-lg">{{label}}</p>
</div>
