<div class="mx-3 mb-1 inline-flex w-full">
  <span class="mt-2 w-1/2">
    <input
      [(ngModel)]="title"
      (ngModelChange)="this.titleChange.emit($event)"
      placeholder="Deck Name:"
      class="h-8 w-full text-sm"
      pInputText
      type="text"
    />
  </span>

  <span class="p-float-label ml-2 mr-6 mt-2 w-1/2">
    <p-multiSelect
      [filter]="true"
      [(ngModel)]="tags"
      (ngModelChange)="this.tagsChange.emit($event)"
      [options]="tagsList"
      optionLabel="name"
      [showHeader]="false"
      [showToggleAll]="false"
      defaultLabel="Tags:"
      display="chip"
      scrollHeight="250px"
      styleClass="w-full h-8 text-sm"
    >
    </p-multiSelect>
  </span>
</div>

<div class="mx-3 mb-1 inline-flex w-full">
  <span class="mr-2 w-full">
    <textarea
      [(ngModel)]="description"
      (ngModelChange)="this.descriptionChange.emit($event)"
      placeholder="Description:"
      class="w-full overflow-hidden"
      pInputTextarea
    ></textarea>
  </span>
  <div
    class="mr-6 flex h-[66px] w-full flex-row justify-center border border-[#304562]"
  >
    <div
      *ngFor="let deckBox of colors"
      class="h-full w-full cursor-pointer"
      [ngClass]="{
        'primary-background': selectedColor.name === deckBox.name,
        'surface-ground': selectedColor.name !== deckBox.name
      }"
    >
      <img
        [src]="deckBox.img"
        alt="Deckbox"
        (click)="changeColor(deckBox)"
        class="h-full"
      />
    </div>
  </div>
</div>
