<div
  class="toolbar ml-3 mr-3 grid w-[100%-3rem] grid-cols-6 justify-evenly border-b-2 border-slate-600 md:grid-cols-12"
>
  <div
    class="primary-color align-center col-span-2 flex flex-row border-2 border-slate-500 text-center"
  >
    <b>{{ getCardCount("Egg") }}</b
    >/
    <p class="bottom-font pr-1">5</p>
    <p class="text-xs">Eggs</p>
  </div>

  <div
    class="primary-color align-center col-span-2 flex flex-row border-2 border-slate-500 text-center"
  >
    <b>{{ getCardCount("Main") }}</b
    >/
    <p class="bottom-font pr-1">50</p>
    <p class="text-xs">Cards</p>
  </div>

  <button
    (click)="missingCards = !missingCards"
    class="p-button-outlined w-full"
    icon="pi pi-times"
    iconPos="left"
    pButton
  ></button>

  <button
    (click)="newDeck()"
    class="p-button-outlined w-full"
    icon="pi pi-file"
    iconPos="left"
    pButton
  ></button>

  <button
    (click)="save.emit($event)"
    class="p-button-outlined w-full"
    icon="pi pi-save"
    iconPos="left"
    pButton
  ></button>

  <button
    (click)="delete.emit(true)"
    class="p-button-outlined w-full"
    icon="pi pi-trash"
    iconPos="left"
    pButton
  ></button>

  <button
    (click)="importDeckDialog = true"
    class="p-button-outlined w-full"
    icon="pi pi-upload"
    iconPos="left"
    pButton
  ></button>

  <button
    (click)="exportDeckDialog = true"
    class="p-button-outlined w-full"
    icon="pi pi-download"
    iconPos="left"
    pButton
  ></button>

  <button
    (click)="share.emit(true)"
    class="p-button-outlined w-full"
    icon="pi pi-share-alt"
    iconPos="left"
    pButton
  ></button>

  <button
    (click)="simulate()"
    class="p-button-outlined w-full"
    icon="pi pi-refresh"
    iconPos="left"
    pButton
  ></button>
</div>

<p-dialog
  header="Simulate Security/Draw"
  [(visible)]="simulateDialog"
  styleClass="w-[100%] min-w-[250px] sm:min-w-[500px] sm:w-[700px] min-h-[500px]"
  [baseZIndex]="10000"
>
  <!-- Security Stack -->
  <h1 class="text-center text-2xl font-bold">Security Stack</h1>
  <div class="mt-5 flex flex-row">
    <div *ngFor="let secCard of securityStack" class="cards-in-a-row-5 mr-1">
      <img
        [src]="secCard.cardImage"
        [alt]="secCard.id + ' - ' + secCard.name"
      />
    </div>
  </div>

  <h1 class="text-center text-2xl font-bold">Draw Hand</h1>
  <div class="mt-5 flex flex-row">
    <div *ngFor="let drawCard of drawHand" class="cards-in-a-row-5 mr-1">
      <img
        [src]="drawCard.cardImage"
        [alt]="drawCard.id + ' - ' + drawCard.name"
      />
    </div>
  </div>

  <div class="mt-5 flex w-full justify-end">
    <button pButton (click)="mulligan()">Mulligan</button>
    <button pButton class="ml-5" (click)="resetSimulation()">Reset</button>
  </div>
</p-dialog>

<p-dialog
  header="Export Deck"
  [(visible)]="exportDeckDialog"
  styleClass="w-[100%] min-w-[250px] sm:min-w-[500px] sm:w-[700px] min-h-[500px]"
  [baseZIndex]="10000"
  ><digimon-export-deck-dialog [deck]="deck"></digimon-export-deck-dialog
></p-dialog>

<p-dialog
  header="Import Deck"
  [(visible)]="importDeckDialog"
  styleClass="w-[100%] min-w-[250px] sm:min-w-[500px] sm:w-[700px] min-h-[500px]"
  [baseZIndex]="10000"
  ><digimon-import-deck-dialog></digimon-import-deck-dialog
></p-dialog>
