<div class="p-3 overflow-hidden">
  <h1 mat-dialog-title>Export Digimon Card Game Deck</h1>
  <mat-button-toggle-group class="mb-2" name="exportStyle" [formControl]="exportTypeControl" aria-label="Digimon Card Game Deck Export Style">
    <mat-button-toggle value="text">TEXT</mat-button-toggle>
    <mat-button-toggle value="tts">TTS</mat-button-toggle>
    <!--mat-button-toggle value="image">IMAGE</mat-button-toggle>
    <mat-button-toggle value="octgn">OCTGN</mat-button-toggle>
    <mat-button-toggle value="untap">UNTAP.IN</mat-button-toggle-->
  </mat-button-toggle-group>
  <div mat-dialog-content>
    <textarea id="text-export" class="border-2 border-black-500" [(ngModel)]="deckText"></textarea>
  </div>
  <div mat-dialog-actions class="w-full flex justify-end">
    <button mat-button (click)="exportDeck()">Export to File</button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
