@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'scrollbar';
@import 'slider';

html,
body {
  height: 100%;
}

// IOS Long Click
body {
  -webkit-touch-callout: default !important;
}

* {
  font-family: Montserrat, -apple-system, sans-serif;
}

body {
  margin: 0;
}

.primary-color {
  color: var(--primary-color);
}

.bg {
  background-color: #17212f;
}

.primary-background {
  background-color: #08528d;
}

.primary-border {
  border: 2px solid #62b7f6;
}

.border-selected {
  border: 2px solid white;
  &.White {
    box-shadow: inset 0 0 0px 2px hsl(0deg 0% 0%), 0 0 0 2px hsl(0deg 0% 100%);
    border: none;
  }
}

.border-selected-tx {
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.border-unselected {
  border: 1px solid black;
}

.surface-card {
  background-color: var(--surface-card);
}

.surface-ground {
  background-color: var(--surface-ground);
}

.c-white {
  color: white;
}

.bottom-1 {
  bottom: 0.25rem;
}

.bottom-10 {
  bottom: 2.5rem;
}

.text-black-outline {
  color: #fff;
  text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}

.text-black-outline-xs {
  color: #fff;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.text-shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.text-shadow-white {
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
}

.text-shadow-white-xs {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.Red {
  background: #ef1919;
}

.Blue {
  background: #19a0e3;
}

.Yellow {
  background: #ffd619;
}

.Green {
  background: #19b383;
}

.Black {
  background: #191919;
}

.Purple {
  background: #8d6fdb;
}

.White {
  background: #ffffff;
}

.raise:hover,
.raise:focus {
  box-shadow: 0.2em 0.5em 0.5em 0 gray;
  transform: translateY(-0.25em);
}

.raise-xs:hover,
.raise-xs:focus {
  box-shadow: 0.1em 0.25em 0.25em 0 gray;
  transform: translateY(-0.12em);
}

.Multi {
  background: linear-gradient(
    90deg,
    #ef1919 14%,
    #19a0e3 28%,
    #ffd619 42%,
    #19b383 56%,
    #191919 70%,
    #8d6fdb 84%,
    #ffffff 100%
  );
}

digimon-multi-select {
  ::ng-deep .p-multiselect {
    max-width: 10rem;
  }
}

.dialog {
  ::ng-deep .p-multiselect {
    width: 100%;
  }
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-13 {
  grid-template-columns: repeat(13, minmax(0, 1fr));
}

/* ===== ===== */

.animate-scroll {
  display: inline-block;
  color: #fff;
  padding-left: 100%;
  animation: move 25s linear infinite;
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* ===== ===== */
p-dialog::ng-deep {
  .p-dialog-content {
    overflow-x: hidden;
  }
}

/* ===== Stat Pills ===== */
.stat-container {
  width: 22px;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background: #7794a8;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}
