@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.primary-color {
  color: var(--primary-color);
}

.surface-card {
  background-color: var(--surface-card);
}

.surface-ground {
  background-color: var(--surface-ground);
}

.c-white {
  color: white;
}

.text-black-outline {
  color: #fff;
  text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}
