<button
	(click)="menu.toggle($event)"
	class="min-w-auto primary-background mx-2 h-9 w-9 rounded-full text-xs font-semibold text-white"
>
	<i *ngIf="!user" class="pi pi-user"></i>
	<img *ngIf="user" alt="{{ this.user.displayName }}" src="{{ this.user.photoURL }}" />
</button>

<p-menu #menu [model]="items" [popup]="true"></p-menu>

<digimon-collection-stats-dialog
	(onClose)="this.collectionDisplay = false"
	[collection]="collection"
	[digimonCards]="digimonCards"
	[show]="collectionDisplay"
></digimon-collection-stats-dialog>

<p-dialog
	[(visible)]="display"
	[baseZIndex]="10000"
	header="Import/Export"
	styleClass="w-[70vw] lg:w-[50vw] xl:w-[30vw] h-[320px]"
>
	<div class="flex flex-col justify-between">
		<button
			(click)="this.importDisplay = true"
			class="m-auto mb-2 min-w-[200px] max-w-[200px]"
			icon="pi pi-upload"
			label="Import Collection"
			pButton
			type="button"
		></button>
		<input
			#fileUpload
			(change)="handleFileInput($event.target)"
			[ngStyle]="{ display: 'none' }"
			accept=".json"
			type="file"
		/>
		<button
			(click)="fileUpload.click()"
			class="m-auto mb-2 min-w-[200px] max-w-[200px]"
			icon="pi pi-upload"
			label="Import Save"
			pButton
			type="button"
		></button>
		<button
			(click)="exportSave()"
			class="m-auto mb-2 min-w-[200px] max-w-[200px]"
			icon="pi pi-download"
			label="Export Save"
			pButton
			type="button"
		></button>
		<button
			(click)="deleteSave($event)"
			class="m-auto mb-2 min-w-[200px] max-w-[200px]"
			icon="pi pi-times"
			label="Delete Save"
			pButton
			type="button"
		></button>
	</div>
</p-dialog>

<p-dialog [(visible)]="importDisplay" [baseZIndex]="10000" header="Import Collection" styleClass="w-[95vw] h-[400px]">
	<div>
		<p>Copy your collection in the text area and press import.</p>
		<textarea
			[(ngModel)]="collectionText"
			[placeholder]="importPlaceholder"
			class="border-black-500 min-h-[150px] min-w-full border-2"
			id="text-import"
			pInputTextarea
		></textarea>
	</div>
	<div class="flex w-full justify-end">
		<button (click)="importCollection()" icon="pi pi-upload" label="Import" pButton type="button"></button>
	</div>
</p-dialog>

<p-dialog [(visible)]="settingsDialog" [baseZIndex]="10000" header="Advanced Settings" styleClass="w-[400px]">
	<div class="flex w-full flex-col justify-end">
		<div class="mx-auto mb-5">
			<h1 class="primary-color mt-5">Deck-Cards will be sorted first with:</h1>
			<div class="flex justify-center">
				<p-selectButton [formControl]="sortOrderFilter" [multiple]="false" [options]="sortOrder" class="mb-5">
				</p-selectButton>
			</div>
		</div>

		<span class="p-float-label mx-auto mt-5">
			<p-inputNumber [(ngModel)]="collectionCount" id="float-input" mode="decimal"></p-inputNumber>
			<label for="float-input">How many of a card do you collect?</label>
		</span>

		<h5 class="mx-auto mt-5 font-bold">Pre-Release Cards</h5>
		<p-selectButton
			[(ngModel)]="preRelease"
			[options]="showHideOptions"
			class="mx-auto"
			optionLabel="label"
			optionValue="value"
		></p-selectButton>

		<h5 class="mx-auto mt-5 font-bold">Alt. Art Cards</h5>
		<p-selectButton
			[(ngModel)]="aa"
			[options]="showHideOptions"
			class="mx-auto"
			optionLabel="label"
			optionValue="value"
		></p-selectButton>

		<h5 class="mx-auto mt-5 font-bold">Stamped Cards</h5>
		<p-selectButton
			[(ngModel)]="stamped"
			[options]="showHideOptions"
			class="mx-auto"
			optionLabel="label"
			optionValue="value"
		></p-selectButton>
	</div>

	<div class="flex flex-row justify-between">
		<button
			(click)="saveSettings()"
			class="mt-10"
			icon="pi pi-save"
			label="Save Settings"
			pButton
			type="button"
		></button>
	</div>
</p-dialog>

<p-confirmPopup></p-confirmPopup>
