<div class="p-3">
  <h1 mat-dialog-title>Import Collection</h1>
  <div mat-dialog-content>
    <p>Copy your collection in the text area and press import.</p>
    <textarea [(ngModel)]="collectionText" [placeholder]="importPlaceholder" class="border-2 border-black-500" id="text-import"></textarea>
  </div>
  <div class="w-full flex justify-end" mat-dialog-actions>
    <button (click)="importCollection()" mat-button>Import</button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
