<div class="flex flex-row jusify-between">
  <digimon-chart-container label="LV.2" [fill]="digiEggs" fillPercent="20"></digimon-chart-container>
  <digimon-chart-container label="LV.3" [fill]="lv3"></digimon-chart-container>
  <digimon-chart-container label="LV.4" [fill]="lv4"></digimon-chart-container>
  <digimon-chart-container label="LV.5" [fill]="lv5"></digimon-chart-container>
  <digimon-chart-container label="LV.6" [fill]="lv6"></digimon-chart-container>
  <digimon-chart-container label="LV.7+" [fill]="lv7"></digimon-chart-container>
  <digimon-chart-container label="TM" [fill]="tamer"></digimon-chart-container>
  <digimon-chart-container label="OP" [fill]="options"></digimon-chart-container>
</div>

