<div class="jusify-between flex flex-row">
	<digimon-chart-container label="Lv.2" [fill]="digiEggs" fillPercent="20"></digimon-chart-container>
	<digimon-chart-container label="Lv.3" [fill]="lv3"></digimon-chart-container>
	<digimon-chart-container label="Lv.4" [fill]="lv4"></digimon-chart-container>
	<digimon-chart-container label="Lv.5" [fill]="lv5"></digimon-chart-container>
	<digimon-chart-container label="Lv.6" [fill]="lv6"></digimon-chart-container>
	<digimon-chart-container label="Lv.7+" [fill]="lv7"></digimon-chart-container>
	<digimon-chart-container label="TM" [fill]="tamer"></digimon-chart-container>
	<digimon-chart-container label="OP" [fill]="options"></digimon-chart-container>
</div>
