<div class="flex w-100 max-h-screen-minus flex-col">
  <div class="border-2 border-slate-300 ml-2 w-full overflow-scroll max-h-1/2">
    <digimon-filter-box [compact]="true" class="w-100"></digimon-filter-box>
    <digimon-card-list (onCardClick)="onCardClick($event)" [deckBuilder]="true" [showCount]="25" class="w-100"></digimon-card-list>
  </div>

  <div class="border-2 border-slate-300 mr-2 overflow-scroll overflow-x-hidden w-full max-h-1/2">
    <!-- Deck Top Line -->
    <div class="toolbar inline-flex w-100 border-b-2 border-slate-600 justify-center surface-ground">

      <div class="border-l-2 border-slate-600 pr-2 pl-2 primary-color"><b>
        {{getCardCount('Egg')}}</b>/<p class="bottom-font pr-1">5 </p> <p class="text-xs">Eggs</p>
      </div>
      <div class="border-l-2 border-slate-600 pr-2 pl-2 primary-color"><b>
        {{getCardCount('Main')}}</b>/<p class="bottom-font pr-1">50 </p> <p class="text-xs"> Cards</p>
      </div>

      <!--button class="p-button-outlined" pButton (click)="switchFullOrSmallCards()" label="{{this.fullCards ? 'Full Cards' : 'Small Cards'}}"></button>

      <button-- class="p-button-outlined" pButton (click)="switchStack()"  label="{{this.stack ? 'Stacked' : 'Not Stacked'}}"></button-->

      <button class="p-button-outlined" pButton (click)="stats()" label="Stats" icon="pi pi-chart-bar" iconPos="left"></button>

      <!--button class="p-button-outlined" pButton (click)="share()" label="Share" icon="pi pi-share-alt" iconPos="left"></button-->

      <button class="p-button-outlined" pButton (click)="save()" label="Save" icon="pi pi-save" iconPos="left"></button>

      <button class="p-button-outlined" pButton (click)="import()" label="Import" icon="pi pi-upload" iconPos="left"></button>

      <button class="p-button-outlined" pButton (click)="export()" label="Export" icon="pi pi-download" iconPos="left"></button>

      <button class="p-button-outlined" pButton (click)="delete()" label="Delete" icon="pi pi-trash" iconPos="left"></button>
    </div>

    <div class="card-container w-100 border-4 border-slate-600 rounded-tl-lg rounded-br-lg surface-ground">
      <div class="inline-flex w-full mb-2">
        <span class="p-float-label mt-6 w-1/6">
          <input id="float-input" type="text" pInputText [(ngModel)]="title">
          <label for="float-input">Deck-Name</label>
        </span>

        <span class="p-float-label mt-6 ml-10 w-4/6">
          <textarea id="float-input2" class="w-full h-[42px] overflow-hidden" pInputTextarea [(ngModel)]="description"></textarea>
          <label for="float-input2">Description</label>
        </span>
      </div>

      <div class="card-list flex flex-wrap surface-card">
        <div *ngFor="let card of mainDeck" class="card-box surface-card">
          <digimon-deck-card (removeCard)="removeCard(card)" (onChange)="mapToDeck()" *ngIf="fullCards" [card]="card" [stack]="stack"></digimon-deck-card>
          <digimon-small-deck-card (removeCard)="removeCard(card)" (onChange)="mapToDeck()" *ngIf="!fullCards" [card]="card"></digimon-small-deck-card>
        </div>
      </div>
    </div>
  </div>
</div>

<digimon-export-deck-dialog [deck]="deck" [show]="exportDialog" [width]="'100vm'"></digimon-export-deck-dialog>
<digimon-import-deck-dialog [show]="importDialog" [overwrite]="deck" [width]="'100vm'"></digimon-import-deck-dialog>

<p-dialog header="Deck Stats" [(visible)]="statDialog" [style]="{width: '100vw', height: '75vh'}" [baseZIndex]="10000">
  <p-chart type="bar" [data]="levelData" [options]="chartOptions"></p-chart>
</p-dialog>

<p-confirmDialog key="DeleteDeck" header="Delete Confirmation" icon="pi pi-exclamation-triangle" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
