<div class="surface-ground flex h-[70px] py-1">
  <div class="flex w-full flex-col justify-center">
    <div class="my-1 inline-flex w-full">
      <span
        class="p-input-icon-left w-full"
        [ngStyle]="{ display: 'inline-flex' }"
      >
        <i class="pi pi-search h-3"></i>
        <input
          type="text"
          class="h-6 w-full text-xs"
          pInputText
          [formControl]="searchFilter"
          placeholder="Search"
          class="w-full"
        />
      </span>
      <button
        (click)="this.display = true"
        pButton
        type="button"
        icon="pi pi-filter-fill"
        label="Filter"
      ></button>
    </div>

    <div class="mx-auto my-1 flex flex-row justify-center">
      <span class="text-xs font-bold text-white">Collection Mode:</span>
      <input
        type="checkbox"
        class="my-auto ml-1 h-5 w-5"
        [formControl]="collectionMode"
      />
    </div>
  </div>
</div>

<p-dialog
  header="Filter and Sort"
  [(visible)]="display"
  styleClass="w-[100vw] h-[100vh] surface-ground"
  [baseZIndex]="10000"
>
  <digimon-filter-side-box [showColors]="compact"></digimon-filter-side-box>
</p-dialog>
