name: Update Decks

on:
  schedule:
    - cron: "0 0 */3 * *"
  workflow_dispatch:


jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install beautifulsoup4 requests pillow

      - name: Run Python script
        run: python scripts/python/UpdateUserDecks/UpdateUserDecks.py
