::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #08528d;
    height: 2px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: var(--primary-color);
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: -5px;
    background-color: var(--primary-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    color: white;
    bottom: 8px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: var(--primary-color);
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #08528d;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: var(--primary-color);
  }
}
